<div class="dark-bg">
  <div class="max-width px-0 px-md-5 pt-5 pt-lg-0">
    <div class="login-page">
      <div class="login-details">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <h1 class="text-white">Forgot your password?</h1>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "#{t('login.email')}",
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
        <% end %>
        <div class="login-other">
          <hr class="mt-0">
          <p><%= render "devise/shared/links" %></p>
        </div>
      </div>
      <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627411302/dlogin_jszy9s.png", :quality=>"auto", class: "login-page_image") %>
    </div>
  </div>
</div>

<%= render 'shared/newsletter' %>
