<%= render 'shared/newsletter' %>

<div class="footer-wrapper py-md-5">
  <div class="max-width pt-5 px-3 px-md-5">
    <div class="footer-foenix pb-5">
      <div class="row m-0 w-100 justify-content-between">
        <div class="footer-section home-section ml-0 mr-0 mr-md-2 mb-4">
          <p class="text-white medium-text bold mb-4"><%= t('navbar.products') %></p>
          <%= link_to t('navbar.printers'), root_path, class: "footer-link mb-3" %>
          <%= link_to t('navbar.software'), software_path, class: "footer-link mb-3" %>
          <%= link_to t('navbar.inks'), inks_and_consumables_path, class: "footer-link mb-3" %>
          <%= link_to t('navbar.contact_coders'), contact_coders_path, class: "footer-link mb-3" %>
        </div>
        <div class="footer-section mr-0 mr-md-2 mb-4">
          <p class="text-white medium-text bold mb-4"><%= t('navbar.services') %></p>
          <%= link_to t('navbar.distributors'), distributor_path, class: "footer-link mb-3" %>
          <%= link_to "#{t('navbar.cost')}?", cost_of_ownership_path, class: "footer-link mb-3" %>
          <%= link_to t('navbar.faq'), faq_path, class: "footer-link mb-3" %>
          <%= link_to t('navbar.support'), support_path, class: "footer-link mb-3" %>
        </div>
        <div class="footer-section mr-0 mr-md-2 mb-4">
          <%= link_to t('navbar.industry'), industry_path, class: "text-white d-inline-block mb-4" %>
        </div>
        <% if policy(Post).new? %>
          <div class="footer-section mb-4">
            <p class="footer-title">Admin</p>
            <%= link_to "New post", new_admin_post_path, class: "footer-link mb-3" %>
            <%= link_to "New country", new_admin_country_path, class: "footer-link mb-3" %>
            <%= link_to "New Job", new_admin_job_path, class: "footer-link mb-3" %>
          </div>
        <% end %>
        <div class="footer-section mr-0 mr-md-2 mb-4">
          <p class="text-white medium-text bold mb-4"><%= t('navbar.company') %></p>
          <%= link_to t('navbar.about'), about_path, class: "footer-link mb-3" %>
          <%= link_to t('navbar.careers'), jobs_path, class: "footer-link mb-3" %>
          <%= link_to t('navbar.news'), posts_path, class: "footer-link mb-3" %>
          <%= link_to t('navbar.legal'), legal_path, class: "footer-link mb-3" %>
        </div>
        <div class="footer-section mr-0 mr-md-2 mb-4">
          <% if user_signed_in? %>
            <%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete, class: "text-white d-inline-block mb-4" %>
          <% else %>
            <%= link_to t('navbar.login'), new_user_session_path, class: "text-white d-inline-block mb-4" %>
          <% end %>
        </div>
        <div class="footer-section mr-0 mr-md-2 mb-4">
          <%= link_to t("navbar.contact"), contact_path, class: 'text-orange d-inline-block mb-4' %>
          <p class="footer-link mb-3"><%= t('navbar.phone') %></p>
          <p class="footer-link mb-3"><%= t('navbar.email') %></p>
          <p class="footer-link mb-3"><%= t('navbar.address') %></p>
        </div>
        <div class="footer-section mb-4">
          <a href="#" role="button" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="footer-link mb-3 footer-lang-link">
            <%= locale.capitalize %> <i class="fas fa-chevron-down small-chevron"></i>
          </a>
          <%
          locales = [
            ['English', 'en'],
            ['Français', 'fr'],['لعربية', 'ar'],
            ['中国人', 'ch'],
            ['Nederlands', 'du'],
            ['Deutsch', 'ge'],
            ['Italiano', 'it'],
            ['Bahasa Indonesia', 'in'],
            ['日本', 'ja'],
            ['한국인', 'ko'],
            ['Polskie', 'pl'],
            ['Português', 'pt'],
            ['Pусский', 'rus'],
            ['Español', 'sp'],
            ['Ελληνικά', 'gr'],['עִברִית', 'he'],
            ['Türkçe', 'tur'],
            ['ไทย', 'thai']
          ]
          %>
          <div class="dropdown-menu dropdown-menu-right drop-men-footer" aria-labelledby="productsDropdown">
            <% locales.each do |l| %>
              <ul class="dropdown-menu-ul position-relative">
                <li class="d-flex align-items-center w-100"><%= link_to l[0], { :locale=> l[1] }, class: "dropdown-item ln-#{l[1]}" %></li>
                <% if locale == l[1].to_sym %>
                  <span class="ln-tick">
                    <i class="fas fa-check"></i>
                  </span>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
      <div class="footer-social-links-container">
        <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1624973550/foenix-coding_cmp3rb.png", class: 'footer-logo mb-4 mb-md-0 mr-0 mr-md-5', alt: 'Foenix coding logo') %>
        <div class="ftrl">
          <%= link_to "https://wa.me/message/DAMDVTKRLM65O1", class: 'whatsapp-btn mt-0 mb-3', target: '_blank' do %>
            <i class="fab fa-whatsapp mr-2"></i>
            <p class="text-white mb-0 bold"><%= t("contact.whatsapp") %></p>
          <% end %>
          <div class="row m-0 justify-content-between align-items-center">
            <a href="https://www.youtube.com/channel/UCwOnksAykp4MvlLBt9rHo-Q"><i class="fab fa-youtube-square text-white large-text mr-3 mr-md-0 ml-2 ml-md-3"></i></a>
            <a href="https://www.linkedin.com/company/foenix-coding-ltd/?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId:2785815191457466628614,VSRPtargetId:10521257,VSRPcmpt:primary"><i class="fab fa-linkedin text-white large-text mr-3 mr-md-0 ml-2 ml-md-3"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100054349339040"><i class="fab fa-facebook-square text-white large-text mr-3 mr-md-0 ml-2 ml-md-3"></i></a>
            <a href="https://twitter.com/Foenix_Coding"><i class="fab fa-twitter text-white large-text mr-3 ml-2 ml-md-3"></i></a>
            <p class="text-white my-4 my-md-0 small-text fncd">© Foenix Coding</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
