<% if params[:action] == "fxone_standard" || params[:action] == "cost_of_ownership" || params[:action] == "video" || params[:action] == "legal" || params[:action] == "contact_coders" || params[:action] == "foenix_codaprint" || params[:controller] == "devise/sessions" || params[:controller] == "devise/passwords" %>
  <% nav_type = 'dark-nav' %>
  <% nav_bg = 'nav-pt-bg' %>
  <% mb_nav_type = 'mb-dark-nav' %>
<% elsif params[:action] == "fxone_plus" %>
  <% nav_type = 'plus-nav' %>
  <% nav_bg = 'plus-nav-pt-bg' %>
  <% mb_nav_type = 'mb-dark-nav' %>

<% end %>
<div class="navbar-wrapper <%= nav_type %>">
  <div class="max-width p-0 pt-lg-5 px-lg-5">
    <div class="navbar-foenix">
      <div class="navbar-left">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", alt: "Foenix Coding", class: "navbar-logo nav-left mr-4" %>
        <% end %>
        <div class="d-flex justify-content-between" >
          <div class="navbar-item hidden mr-4">
            <a href="#" role="button" id="productsDropdown"
            class=
            <% if params[:action] == 'fxone_standard' || params[:action] == 'fxone_remote' || params[:action] == 'fxone_plus' || params[:action] == 'software' || params[:action] == 'inks_and_consumables'  %>
              "navbar-title nav-left navbar-title-underline"
            <% else %>
              "navbar-title nav-left"
            <% end %>
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-88,0">
              <%= t("navbar.products") %> <i class="fas fa-chevron-down small-chevron"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="productsDropdown">
              <ul class="dropdown-menu-ul mb-3">
                <li class="printers-menu">
                  <%= link_to printers_path, class: "#{ params[:action] == 'printers' ? 'navbar-dropdown-item-active printers-text-container' : 'printers-text-container' }" do %>
                    <span class="my10"><%= t("navbar.printers") %></span>
                  <% end %>
                  <%= link_to fxone_standard_path, class: "#{ params[:action] == 'fxone_standard' ? 'navbar-dropdown-item-active printers-text-container mt-1' : 'printers-text-container mt-1' }" do %>
                    <span class="printers-text"><%= t("navbar.printer_one") %></span>
                  <% end %>
                  <%= link_to fxone_remote_path, class: "#{ params[:action] == 'fxone_remote' ? 'navbar-dropdown-item-active printers-text-container' : 'printers-text-container' }" do %>
                    <span class="printers-text"><%= t("navbar.printer_two") %></span>
                  <% end %>
                  <%= link_to fxone_plus_path, class: "#{ params[:action] == 'fxone_plus' ? 'navbar-dropdown-item-active printers-text-container' : 'printers-text-container' }" do %>
                    <span class="printers-text"><%= t("navbar.printer_three") %></span>
                  <% end %>
                </li>
                <li class="printers-menu">
                  <%= link_to contact_coders_path, class: "#{ params[:action] == 'contact_coders' ? 'navbar-dropdown-item-active printers-text-container' : 'printers-text-container' }" do %>
                    <span class="my10"><%= t("navbar.contact_coders") %></span>
                  <% end %>
                  <%= link_to foenix_codaprint_path, class: "#{ params[:action] == 'foenix_codaprint' ? 'navbar-dropdown-item-active printers-text-container mt-1' : 'printers-text-container mt-1' }" do %>
                    <span class="printers-text"><%= t("navbar.codaprint") %></span>
                  <% end %>
                  <%= link_to foenix_codamark_path, class: "#{ params[:action] == 'foenix_codamark' ? 'navbar-dropdown-item-active printers-text-container' : 'printers-text-container' }" do %>
                    <span class="printers-text"><%= t("navbar.codamark") %></span>
                  <% end %>
                  <%= link_to foenix_codapack_path, class: "#{ params[:action] == 'foenix_codapack' ? 'navbar-dropdown-item-active printers-text-container' : 'printers-text-container' }" do %>
                    <span class="printers-text"><%= t("navbar.codapack") %></span>
                  <% end %>
                </li>
              </ul>
              <ul class="dropdown-menu-ul mb-3">
                <li class="<%= params[:action] == 'software' ? 'navbar-dropdown-item-active' : '' %>">
                  <%= link_to software_path do %>
                    <%= t("navbar.software") %>
                  <% end %>
                </li>
              </ul>
              <ul class="dropdown-menu-ul mb-3">
                <li class="<%= params[:action] == 'inks_and_consumables' ? 'navbar-dropdown-item-active' : '' %>">
                  <%= link_to inks_and_consumables_path do %>
                    <%= t("navbar.inks") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="navbar-item hidden mr-4">
            <a href="#" role="button" id="serviceDropdown"
            class=
            <% if params[:action] == 'distributor' || params[:action] == 'cost_of_ownership' || params[:action] == 'faq'  %>
              "navbar-title nav-left navbar-title-underline"
            <% else %>
              "navbar-title nav-left"
            <% end %>
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-182,0">
              <%= t("navbar.services") %> <i class="fas fa-chevron-down small-chevron"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="serviceDropdown">
              <ul class="dropdown-menu-ul">
                <li class="">
                  <li class="<%= params[:action] == 'distributor' ? 'navbar-dropdown-item-active' : '' %>">
                    <%= link_to distributor_path do %>
                      <%= t("navbar.distributors") %>
                    <% end %>
                  </li>
                  <li class="<%= params[:action] == 'cost_of_ownership' ? 'navbar-dropdown-item-active' : '' %>">
                    <%= link_to cost_of_ownership_path do %>
                      <%= t("navbar.cost") %>
                    <% end %>
                    </li>
                  <li class="<%= params[:action] == 'faq' ? 'navbar-dropdown-item-active' : '' %>">
                    <%= link_to faq_path do %>
                      <%= t("navbar.FAQ") %>
                    <% end %>
                  </li>
                </li>
                <li class="<%= params[:action] == 'support' ? 'navbar-dropdown-item-active' : '' %>">
                  <%= link_to support_path do %>
                    <%= t("navbar.support") %>
                  <% end %>
                </li>
                <li>
                  <% if user_signed_in? %>
                    <%= link_to( t('navbar.logout'), destroy_user_session_path, method: :delete, class: "" ) %>
                  <% else %>
                    <%= link_to t('navbar.login'), new_user_session_path, class: ""  %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="navbar-item hidden mr-4">
            <%= link_to industry_path, class: "#{params[:action] == 'industry' ? 'navbar-title nav-left navbar-title-underline' : 'navbar-title nav-left'}" do %>
              <%= t("navbar.industry") %>
            <% end %>
          </div>
          <div class="navbar-item hidden mr-4">
            <a href="#" role="button" id="companyDropdown"
            class=
            <% if params[:action] == 'about' || params[:action] == 'index'   %>
              "navbar-title nav-left navbar-title-underline"
            <% else %>
              "navbar-title nav-left"
            <% end %>
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-413,0">
              <%= t("navbar.company") %> <i class="fas fa-chevron-down small-chevron"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="companyDropdown">
              <ul class="dropdown-menu-ul">
                <li class="<%= params[:action] == 'about' ? 'navbar-dropdown-item-active' : '' %>">
                  <%= link_to about_path do %>
                    <%= t("navbar.about") %>
                  <% end %>
                </li>
                <li class="<%= params[:controller] == 'jobs' && params[:action] == 'index' ? 'navbar-dropdown-item-active' : '' %>">
                  <%= link_to jobs_path do %>
                    <%= t("navbar.careers") %>
                  <% end %>
                </li>
                <li class="<%= params[:controller] == 'posts' && params[:action] == 'index' ? 'navbar-dropdown-item-active' : '' %>">
                  <%= link_to posts_path do %>
                    <%= t("navbar.news") %>
                  <% end %>
                </li>
                <li class="<%= params[:controller] == 'pages' && params[:action] == 'contact' ? 'navbar-dropdown-item-active' : '' %>">
                  <%= link_to contact_path do %>
                    <%= t("navbar.contact_o") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="navbar-item hidden">
            <%= link_to video_path, class: "#{params[:action] == 'video' ? 'navbar-title nav-left navbar-title-underline' : 'navbar-title nav-left'}" do %>
              <%= t("navbar.video") %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="navbar-right hidden">
        <div class="navbar-item">
          <a href="#" role="button" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="navbar-lang-link px-2 py-3" data-offset="259,0">
            <%= render 'shared/lang' %> <%= locale.capitalize %> <i class="fas fa-chevron-down small-chevron"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="productsDropdown">
            <ul class="dropdown-menu-ul " style="display: inline-grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'uk.png' %></span><%= link_to "English", { :locale=>'en' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'france.png' %></span> <%= link_to "Français", { :locale=>'fr' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'arabic.png' %></span> <%= link_to "العربية", { :locale=>'ar' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'china.png' %></span> <%= link_to "中国人", { :locale=>'ch' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'netherlands.png' %></span> <%= link_to "Nederlands", { :locale=>'du' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'germany.png' %></span> <%= link_to "Deutsch", { :locale=>'ge' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'indonesia.png' %></span> <%= link_to "Bahasa Indonesia", { :locale=>'in' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'italy.png' %></span> <%= link_to "Italiano", { :locale=>'it' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'japan.png' %></span> <%= link_to "日本", { :locale=>'ja' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'korea.png' %></span> <%= link_to "한국인", { :locale=>'ko' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'poland.png' %></span> <%= link_to "Polskie", { :locale=>'pl' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'portugal.png' %></span> <%= link_to "Português", { :locale=>'pt' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'russia.png' %></span> <%= link_to "Pусский", { :locale=>'rus' }, class: "dropdown-item circle" %></li>
              <li class="d-flex align-items-center"><span class='image-cropper'><%= image_tag 'spain.png' %></span> <%= link_to "Español", { :locale=>'sp' }, class: "dropdown-item circle" %></li>
            </ul>
          </div>
        </div>
        <div class="navbar-item req-demo hidden">
          <%= link_to contact_path do %>
            <p class="text-orange bold mb-0 s-medium-text px-2 py-3 nav-demo"><%= t("navbar.demo") %> <i class="fas fa-chevron-right small-text"></i></p>
          <% end %>
        </div>
        <div class="navbar-item">
          <%= link_to t("navbar.contact"), contact_path, class: "primary-button ml-2"  %>
        </div>
      </div>
      <div id="mobile-navbar">
        <i class="fas fa-bars" onclick="openNav()"></i>
      </div>
    </div>
  </div>
</div>

<div id="mobile-menu" class="<%= mb_nav_type %>" onclick="closeNav()">
  <div id="mobile-links">
    <div class="position-relative w-100 p-4">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <ul style="width: 92%;">
        <li class="each-mobile-link pb-0"><a href="/printers"><%= t('navbar.printers') %></a></li>
        <li class="printers-menu mobile-printers-menu">
          <%= link_to fxone_standard_path, class: 'printers-text-container mt-1' do %>
            <span class="printers-text"><%= t("navbar.printer_one") %></span>
          <% end %>
          <%= link_to fxone_remote_path, class: 'printers-text-container' do %>
            <span class="printers-text"><%= t("navbar.printer_two") %></span>
          <% end %>
          <%= link_to fxone_plus_path, class: 'printers-text-container' do %>
            <span class="printers-text"><%= t("navbar.printer_three") %></span>
          <% end %>
        </li>
        <li class="each-mobile-link"><a href="/software"><%= t('navbar.software') %></a></li>
        <li class="each-mobile-link"><a href="/inks_and_consumables"><%= t('navbar.inks') %></a></li>
        <li class="each-mobile-link pb-0"><a href="/contact_coders"><%= t('navbar.contact_coders') %></a></li>
        <li class="printers-menu mobile-printers-menu">
          <%= link_to foenix_codaprint_path, class: 'printers-text-container mt-1' do %>
            <span class="printers-text"><%= t("navbar.codaprint") %></span>
          <% end %>
          <%= link_to foenix_codamark_path, class: 'printers-text-container' do %>
            <span class="printers-text"><%= t("navbar.codamark") %></span>
          <% end %>
          <%= link_to foenix_codapack_path, class: 'printers-text-container' do %>
            <span class="printers-text"><%= t("navbar.codapack") %></span>
          <% end %>
        </li>
        <li class="each-mobile-link"><a href="/distributor"><%= t('navbar.distributors') %></a></li>
        <li class="each-mobile-link"><a href="/cost_of_ownership"><%= t('navbar.cost') %></a></li>
        <li class="each-mobile-link"><a href="/faq"><%= t('navbar.faq') %></a></li>
        <li class="each-mobile-link"><a href="/support"><%= t('navbar.support') %></a></li>
        <li class="each-mobile-link"><a href="/industry"><%= t('navbar.industry') %></a></li>
        <li class="each-mobile-link"><a href="/video"><%= t('navbar.video') %></a></li>
        <li class="each-mobile-link"><a href="/about"><%= t('navbar.about') %></a></li>
        <li class="each-mobile-link"><a href="/jobs"><%= t('navbar.careers') %></a></li>
        <li class="each-mobile-link"><a href="/legal"><%= t('navbar.legal') %></a></li>
        <li class="each-mobile-link"><a href="/posts"><%= t('navbar.news') %></a></li>
        <li class="each-mobile-link"><a href="/contact"><%= t('navbar.contact') %></a></li>
        <% if user_signed_in? %>
          <li class="each-mobile-link"><a href="/users/sign_out" data-method="delete"><%= t('navbar.logout') %></a></li>
        <% else %>
          <li class="each-mobile-link"><a href="/users/sign_in"><%= t('navbar.login') %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="nav-pt <%= nav_bg %>"></div>
<script>
  function openNav() {
    document.getElementById("mobile-links").style.top = "20px"
    document.getElementById("mobile-menu").style.visibility = "visible";
    document.getElementById("mobile-menu").style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("mobile-menu").style.visibility = "hidden";
    document.getElementById("mobile-menu").style.backgroundColor = "rgba(0,0,0,0.0)";
    document.getElementById("mobile-links").style.top = "-800px"
    document.getElementById("mobile-menu").style.transition = "0.6s";
    document.getElementById("mobile-links").style.transition = "top 0.4s";
    // document.getElementById("mobile-links").style.transition = "opacity 1s";
  }
</script>
