<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp1") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp2") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp3") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp4") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp5") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp6") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp7") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp8") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp9") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp10") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp11") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp12") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp13") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp14") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp15") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp16") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp17") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp18") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp19") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp20") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp21") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp22") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp23") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp24") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp25") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp26") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp27") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp28") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp29") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp30") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp31") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp32") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp33") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp34") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp35") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp36") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp37") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp38") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp39") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp40") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp41") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp42") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp43") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp44") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp45") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp46") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp47") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp48") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp49") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp50") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp51") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp52") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp53") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp54") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp55") %></p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
  <div class="ta-card border-bottom grey-border px-2 py-1 h-100 d-flex align-items-end justify-content-center">
    <p class="mb-0 text-center text-white"><%= t("industry.tp56") %></p>
  </div>
</div>
