<% content_for :meta_title, "#{t('seo.about.title')}" %>
<% content_for :meta_description, "#{t('seo.about.description')}" %>

<div class="about-wrapper">
  <div class="max-width p-5" style="overflow-x: unset;">
    <h1 class="text-center mb-4 pt-4"><%= t("about.title") %></h1>
    <div class="row m-0 py-5">
      <div class="col-12 col-lg-3 pr-3 pr-lg-0 about-title">
        <h3 class=""><%= t("about.first_section_title_one") %></h3>
      </div>
      <div class="col-12 col-lg-9">
        <p class="mb-4"><%= t("about.first_section_text_one") %></p>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-lg-3 pr-3 pr-lg-0 about-title">
        <h3 class=""><%= t("about.first_section_title_two") %></h3>
      </div>
      <div class="col-12 col-lg-9">
        <p class="mb-4"><%= t("about.first_section_text_two") %></p>
      </div>
    </div>
    <div class="row mx-0 mb-5">
      <div class="col-12 col-lg-3 pr-3 pr-lg-0 about-title">
        <h3 class=""><%= t("about.first_section_title_three") %></h3>
      </div>
      <div class="col-12 col-lg-9">
        <p class="mb-4"><%= t("about.first_section_text_three") %></p>
      </div>
    </div>
  </div>
  <div class="dark-bg">
    <div class="eigth-section max-width pb-0">
      <div class="eigth-section-one">
        <div class="d-block d-md-flex justify-content-between align-items-center w-100">
          <div class="">
            <h4 class="font-weight-normal text-white"><%= t("about.hiring_title") %></h4>
            <p class="mb-3 mb-md-0 text-white small-text"><%= t("about.hiring_text") %></p>
          </div>
          <%= link_to "#{ t("about.view_openings") }", '#', class: 'btn primary-button button-width ml-0 ml-md-5' %>
        </div>
      </div>
    </div>

    <div class="max-width px-5 pt-5">
      <div class="row m-0 justify-content-center">
        <div class="col-12 col-md-6">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-center text-white mb-0"><%= t("about.our_values_title") %></h2>
            <p class="text-white text-center"><%= t("about.our_values_text") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="max-width p-5">
      <div class="row m-0 justify-content-center pb-5">
        <div class="col-12 col-md-6 col-lg-4 mb-sm-3 mt-sm-3 mb-5 mb-lg-0 pl-lg-0">
          <div class="charcoal-bg border-radius px-4 py-5 h-100">
            <h2 class="text-center text-white mb-4"><%= t("about.ov_card_title_one") %></h2>
            <p class="text-white text-center mb-0"><%= t("about.ov_card_text_one_html") %></p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-sm-3 mt-sm-3 mb-5 mb-lg-0">
          <div class="charcoal-bg border-radius px-4 py-5 h-100">
            <h2 class="text-center text-white mb-4"><%= t("about.ov_card_title_two") %></h2>
            <p class="text-white text-center mb-0"><%= t("about.ov_card_text_two_html") %></p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-sm-3 mt-sm-3 mb-5 mb-lg-0">
          <div class="charcoal-bg border-radius px-4 py-5 h-100">
            <h2 class="text-center text-white mb-4"><%= t("about.ov_card_title_three") %></h2>
            <p class="text-white text-center mb-0"><%= t("about.ov_card_text_three") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="max-width p-5">
      <div class="row mx-0 mb-5 py-5 column-reverse align-items-center">
        <div class="col-12 col-md-6">
          <%= cl_image_tag("about-graphic-4_r5ic34.png", class: "w-100", alt: "Box coding") %>
        </div>
        <div class="col-12 col-md-6">
          <h2 class="text-white"><%= t("about.whats_next_title") %></h2>
          <p class="text-white mb-4"><%= t("about.whats_next_text_html") %></p>
        </div>
      </div>
    </div>
  </div>



</div>
