<% content_for :meta_title, "#{t('seo.foenix_codapack.title')}" %>
<% content_for :meta_description, "#{t('seo.foenix_codapack.description')}" %>
<% content_for :meta_keywords, "#{t('seo.foenix_codapack.keywords')}" %>

<div class="codaprint-wrapper">
  <div class="">
    <div class="max-width p-5" style="overflow-x: unset;">
      <div class="row m-0 justify-content-center">
        <div class="col-12 col-col-md-8 col-lg-7 pt-5">
          <div class="d-flex flex-column justify-content-center align-items-center py-5">
            <h1 class="text-center mb-4"><%= t("foenix_codapack.first_section_title") %></h1>
            <p class="text-center mb-4"><%= t("foenix_codapack.first_section_text") %></p>
            <div class="d-flex justify-content center align-items-center">
              <%= link_to "#{ t("foenix_codaprint.get_prices") }", "#", class: "btn primary-button mr-3" %>
              <%= link_to "#{ t("home.download") }", "/fxone_remote_brochure.pdf", target: "_blank", class: "btn secondary-button black-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="max-width px-3 px-md-5 pt-5 pb-0">
      <div class="bg-white border-radius cos-lists w-100 m-0 pl-4 py-5 pr-5 mb-5 position-relative">
        <h2 class="text-center mb-5"><%= t("foenix_codapack.ccirp_title") %></h2>
        <div class="row m-0 justify-content-around">
          <div class="col-12 col-md-5 pr-lg-5">
            <p class="mb-3 bold"><%= t("foenix_codapack.ccirp_sub_title_one") %></p>
            <p class="mb-5 s-medium-text"><%= t("foenix_codapack.ccirp_text_one_html") %></p>
            <p class="mb-3 bold"><%= t("foenix_codapack.ccirp_sub_title_two") %></p>
            <p class="mb-4 s-medium-text"><%= t("foenix_codapack.ccirp_text_two") %></p>
          </div>
          <div class="col-12 col-md-5 pl-3 pl-md-5">
            <p class="mb-3 bold"><%= t("foenix_codapack.ccirp_sub_title_three") %></p>
            <p class="mb-4 s-medium-text"><%= t("foenix_codapack.ccirp_text_three") %></p>
            <p class="mb-3 bold"><%= t("foenix_codapack.ccirp_sub_title_four") %></p>
            <p class="mb-4 s-medium-text"><%= t("foenix_codapack.ccirp_text_four") %></p>
            <p class="mb-3 bold"><%= t("foenix_codapack.ccirp_sub_title_five") %></p>
            <p class="mb-4 s-medium-text"><%= t("foenix_codapack.ccirp_text_five") %></p>
          </div>
        </div>
      </div>
      <div class="bg-white border-radius cos-lists w-100 m-0 pl-4 py-4 pr-5 position-relative">
        <div class="row m-0">
          <div class="col-12 col-lg-8 pr-lg-5">
            <p class="mb-0 bold"><%= t("foenix_codaprint.ps_title_one") %></p>
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627324807/fncdpi_m9vq3p.png", class: "w-100", alt: "Codapack measurements") %>
          </div>
          <div class="col-12 col-lg-4 pl-3 pl-md-5">
            <p class="mb-4 bold"><%= t("foenix_codapack.cdp_title") %></p>
              <p class="mb-3 bold"><%= t("foenix_codapack.cdp_sub_title_one") %></p>
              <p class="mb-3"><%= t("foenix_codapack.cdp_text_one") %></p>
              <p class="mb-3 bold"><%= t("foenix_codapack.cdp_sub_title_two") %></p>
              <p class="mb-3"><%= t("foenix_codapack.cdp_text_two_htmml") %></p>
              <p class="mb-3 bold"><%= t("foenix_codapack.cdp_sub_title_three") %></p>
              <p class="mb-3"><%= t("foenix_codapack.cdp_text_three") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="max-width px-3 px-md-5 py-5">
      <div class="charcoal-bg border-radius cos-lists w-100 m-0 p-3 p-md-5">
        <h2 class="text-white text-center" style="margin-bottom: 25px;"><%= t("foenix_codaprint.list_title") %></h2>
        <div class="fxone-fifth-section-content">
          <div class="row m-0 w-100 justify-content-around">
            <div class="col-12 col-sm-5">
              <p class="text-white mb-5"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codapack.list_text_one") %></p>
              <p class="text-white mb-5 mb-sm-0"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codapack.list_text_two") %></p>
            </div>
            <div class="col-12 col-sm-5">
              <p class="text-white mb-5"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codapack.list_text_three") %></p>
              <p class="text-white mb-0"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codapack.list_text_four") %></p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center w-100 mb-3 mb-md-0 mt-5">
           <%= image_tag 'uk.png', class: 'home-uk mr-4', alt: 'UK flag' %>
          <h6 class="mb-0 text-white"><%= t("home.title_second_description") %></h6>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="max-width px-3 px-md-5 py-5">
      <div class="col-12 px-0">
        <div class="charcoal-bg border-radius px-4 px-md-5 py-5 mb-4 my-3">
          <div class="row m-0 w-100">
            <div class="col-12 col-lg-6">
              <div class="">
                <h1 class="text-white mb-0"><%= t("contact_coders.baselock_title") %></h1>
                <h4 class="text-white mb-0"><%= t("contact_coders.baselock_sub_title") %></h4>
                <h4 class="text-white mb-4"><%= t("contact_coders.baselock_sub_title_two") %></h4>
                <ul class="pl-3">
                  <li class="text-white small-text"><%= t("contact_coders.baselock_text_one") %></li>
                  <li class="text-white small-text"><%= t("contact_coders.baselock_text_two") %></li>
                  <li class="text-white small-text"><%= t("contact_coders.baselock_text_three") %></li>
                  <li class="text-white small-text"><%= t("contact_coders.baselock_text_four") %></li>
                </ul>
                <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627047164/ccgi6_ysftot.png", class: "w-100 pb-5 pb-mb-0 pr-5 pt-3", alt: "Foenix baselock print") %>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="d-flex justify-content-center align-items-center h-100 position-relative">
                <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627047165/ccgi5_ff40hs.png", class: "w-100", alt: "Foenix Baselock") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="" style="background-image: linear-gradient(#F4F4F4 50%, #2A2A2A 50%);">
    <div class="max-width px-3 px-md-5 py-5">
      <div class="col-12 px-0">
        <div class="charcoal-bg fncdp-card border-radius p-4 mb-4 my-4 mx-auto">
          <div class="row m-0 w-100 justify-content-between">
            <div class="col-12 col-lg-6">
              <div class="">
                <h1 class="text-white mb-0"><%= t("foenix_codamark.fncdp_title") %></h1>
                <p class="text-white mb-4"><%= t("foenix_codamark.fncdp_text") %></p>
                <%= link_to "#{ t("foenix_codaprint.fncdm_button") }", "/fxone_remote_brochure.pdf", target: "_blank", class: "btn secondary-button" %>
              </div>
            </div>
            <div class="col-12 col-lg-5 pr-0">
              <div class="d-flex justify-content-center align-items-center h-100 position-relative">
                <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627321814/fncdp-small_w6s5mx.png", class: "fncdp-img alt-right", alt: "Foenix Codaprint") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



