<% content_for :meta_title, "#{t('seo.foenix_codaprint.title')}" %>
<% content_for :meta_description, "#{t('seo.foenix_codaprint.description')}" %>
<% content_for :meta_keywords, "#{t('seo.foenix_codaprint.keywords')}" %>

<div class="codaprint-wrapper">
  <div class="dark-bg">
    <div class="first-section max-width dark-bg px-3 px-md-5" style="overflow-x: unset;">
      <div class="first-section-text mr-0">
        <h1 class="text-white mb-4"><%= t("foenix_codaprint.first_section_title") %></h1>
        <p class="text-white mb-4"><%= t("foenix_codaprint.first_section_text") %></p>
        <%= link_to "#{ t("foenix_codaprint.get_prices") }", "#", class: "btn primary-button mr-3" %>
        <%= link_to "#{ t("home.download") }", "/fxone_remote_brochure.pdf", target: "_blank", class: "btn secondary-button" %>
      </div>
      <div class="product-carousel">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item p-0 active">
              <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627049820/cpmi_xoumr0.png", class: "first-section-image", style: "max-width: 800px;", alt: "Foenix Codaprint") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg">
    <div class="max-width px-3 px-md-5 pt-5 pb-0">
      <h2 class="text-white mb-4"><%= t("foenix_codaprint.cp_title") %></h2>
      <div class="bg-white border-radius cos-lists w-100 m-0 pl-4 py-4 pr-5 mb-5 position-relative">
        <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627054203/cpoamsi_kd1dxt.png", class: "cp-ink-img", alt: "Ink bottles") %>
        <div class="row m-0">
          <div class="col-12 col-md-5 pr-lg-5">
            <p class="mb-3 bold"><%= t("foenix_codaprint.cp_sub_title_one") %></p>
            <p class="mb-4 s-medium-text"><%= t("foenix_codaprint.cp_text_one") %></p>
            <p class="mb-3 bold"><%= t("foenix_codaprint.cp_sub_title_two") %></p>
            <p class="mb-4 s-medium-text"><%= t("foenix_codaprint.cp_text_two") %></p>
            <p class="mb-3 bold"><%= t("foenix_codaprint.cp_sub_title_three") %></p>
            <p class="mb-0 s-medium-text"><%= t("foenix_codaprint.cp_text_three") %></p>
          </div>
          <div class="col-12 col-md-6 pl-3 pl-md-5">
            <p class="mb-3 bold"><%= t("foenix_codaprint.cp_sub_title_four") %></p>
            <p class="mb-4 s-medium-text"><%= t("foenix_codaprint.cp_text_four") %></p>
            <p class="mb-3 bold"><%= t("foenix_codaprint.cp_sub_title_five") %></p>
            <p class="mb-2 s-medium-text"><%= t("foenix_codaprint.cp_text_five") %></p>
            <ul>
              <li class="small-text"><%= t("foenix_codaprint.cp_tp1") %></li>
              <li class="small-text"><%= t("foenix_codaprint.cp_tp2") %></li>
            </ul>
            <p class="mb-3 bold"><%= t("foenix_codaprint.cp_sub_title_six") %></p>
            <p class="mb-0 s-medium-text"><%= t("foenix_codaprint.cp_text_six") %></p>
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627053930/cpoami_adhq9i.png", class: "w-100 pr-4 pt-3", alt: "Handroller") %>
          </div>
        </div>
      </div>
      <div class="bg-white border-radius cos-lists w-100 m-0 pl-4 py-4 pr-5 position-relative">
        <div class="row m-0">
          <div class="col-12 col-md-5 pr-lg-5">
            <p class="mb-4 bold"><%= t("foenix_codaprint.ps_title_one") %></p>
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627059779/cpmm_pgp12n.png", class: "w-100", alt: "Codaprint printer specifications") %>
          </div>
          <div class="col-12 col-md-6 pl-3 pl-md-5">
            <p class="mb-3 bold"><%= t("foenix_codaprint.ps_title_two") %></p>
            <div class="row m-0">
              <div class="col-12 col-sm-6">
                <p class="mb-3 bold"><%= t("foenix_codaprint.ps_title_three") %></p>
                <ul>
                  <li class="mb-2"><%= t("foenix_codaprint.ps_bp_one") %></li>
                  <li class="mb-2"><%= t("foenix_codaprint.ps_bp_two") %></li>
                </ul>
              </div>
              <div class="col-12 col-sm-6">
                <p class="mb-3 bold"><%= t("foenix_codaprint.ps_title_four") %></p>
                <ul>
                  <li class="mb-2"><%= t("foenix_codaprint.ps_bp_three") %></li>
                  <li class="mb-2"><%= t("foenix_codaprint.ps_bp_four") %></li>
                </ul>
              </div>
            </div>
            <p class="mb-3 bold"><%= t("foenix_codaprint.ps_title_five") %></p>
            <ul>
              <li class="mb-2"><%= t("foenix_codaprint.ps_bp_five") %></li>
              <li class="mb-2"><%= t("foenix_codaprint.ps_bp_six") %></li>
              <li class="mb-2"><%= t("foenix_codaprint.ps_bp_seven") %></li>
              <li class="mb-2"><%= t("foenix_codaprint.ps_bp_eight") %></li>
            </ul>
            <p class="mb-0 bold small-text"><%= t("foenix_codaprint.ps_text") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg">
    <div class="max-width px-3 px-md-5">
      <div class="row m-0">
        <div class="col-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627297870/fcdpspi1_rhuesx.png", class: "first-section-image", style: "max-width: 800px;", alt: "Codaprint image one") %>
        </div>
        <div class="col-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627297870/fcdpspi2_fd4iof.png", class: "first-section-image", style: "max-width: 800px;", alt: "Codaprint image two") %>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg">
    <div class="max-width px-3 px-md-5">
      <div class="charcoal-bg border-radius cos-lists w-100 m-0 p-3 p-md-5">
        <h2 class="text-white text-center" style="margin-bottom: 25px;"><%= t("foenix_codaprint.list_title") %></h2>
        <div class="fxone-fifth-section-content">
          <div class="fxone-fifth-section-left pr-lg-5">
            <p class="text-orange mb-1"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codaprint.list_subtitle_one") %></p>
            <p class="text-white mb-4 pl-4"><%= t("foenix_codaprint.list_text_one") %></p>
            <p class="text-orange mb-1"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codaprint.list_subtitle_two") %></p>
            <p class="text-white mb-4 pl-4"><%= t("foenix_codaprint.list_text_two") %></p>
            <p class="text-orange mb-1"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codaprint.list_subtitle_three") %></p>
            <p class="text-white mb-4 pl-4"><%= t("foenix_codaprint.list_text_three") %></p>
            <p class="text-orange mb-1"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codaprint.list_subtitle_four") %></p>
            <p class="text-white mb-0 pl-4"><%= t("foenix_codaprint.list_text_four") %></p>
          </div>
          <div class="fxone-fifth-section-right pl-3 pl-md-5">
            <p class="text-orange mb-1"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codaprint.list_subtitle_five") %></p>
            <p class="text-white mb-4 pl-4"><%= t("foenix_codaprint.list_text_five") %></p>
            <p class="text-orange mb-1"><i class="far fa-check-circle text-orange mr-2"></i><%= t("foenix_codaprint.list_subtitle_six") %></p>
            <p class="text-white mb-0 pl-4"><%= t("foenix_codaprint.list_text_six_html") %></p>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center w-100 mb-3 mb-md-0 mt-5">
           <%= image_tag 'uk.png', class: 'home-uk mr-4', alt: 'UK flag' %>
          <h6 class="mb-0 text-white"><%= t("home.title_second_description") %></h6>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg">
    <div class="max-width px-3 px-md-5 py-5">
      <div class="col-12 px-0">
        <div class="charcoal-bg border-radius px-4 px-md-5 py-5 mb-4 my-3">
          <div class="row m-0 w-100">
            <div class="col-12 col-lg-6">
              <div class="">
                <h1 class="text-white mb-0"><%= t("contact_coders.baselock_title") %></h1>
                <h4 class="text-white mb-0"><%= t("contact_coders.baselock_sub_title") %></h4>
                  <h4 class="text-white mb-4"><%= t("contact_coders.baselock_sub_title_two") %></h4>
                <ul class="pl-3">
                  <li class="text-white small-text"><%= t("contact_coders.baselock_text_one") %></li>
                  <li class="text-white small-text"><%= t("contact_coders.baselock_text_two") %></li>
                  <li class="text-white small-text"><%= t("contact_coders.baselock_text_three") %></li>
                  <li class="text-white small-text"><%= t("contact_coders.baselock_text_four") %></li>
                </ul>
                <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627047164/ccgi6_ysftot.png", class: "w-100 pb-5 pb-mb-0 pr-5 pt-3", alt: "Foenix baselock print") %>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="d-flex justify-content-center align-items-center h-100 position-relative">
                <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627047165/ccgi5_ff40hs.png", class: "w-100", alt: "Foenix Baselock") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg">
    <div class="max-width p-3 p-md-5">
      <div class="col-12 px-0">
        <div class="bg-white fncdp-card border-radius px-3 py-4 mb-4 my-4 mx-auto">
          <div class="row m-0 w-100 justify-content-between">
            <div class="col-12 col-lg-6">
              <div class="">
                <h1 class="mb-0"><%= t("foenix_codaprint.fncdm_title") %></h1>
                <p class="mb-4"><%= t("foenix_codaprint.fncdm_text") %></p>
                <%= link_to "#{ t("foenix_codaprint.fncdm_button") }", "/fxone_remote_brochure.pdf", target: "_blank", class: "btn secondary-button black-button" %>
              </div>
            </div>
            <div class="col-12 col-lg-5 pr-0">
              <div class="d-flex justify-content-center align-items-center h-100 position-relative">
                <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627303337/fcdm_dwhezy.png", class: "fncdp-img", alt: "Foenix Codamark") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



