<% content_for :meta_title, "#{t('seo.fxone_plus.title')}" %>
<% content_for :meta_description, "#{t('seo.fxone_plus.description')}" %>
<% content_for :meta_keywords, "#{t('seo.fxone_plus.description')}" %>
<% content_for :meta_image, cl_image_path("fxone-plus_fvkcao.png.png", width: 400, alt: "FX ONE Plus printer") %>

<div class="fxone-wrapper fxone-standard">
  <div class="first-section pb-5 max-width" style="overflow-x: unset;">
    <div class="first-section-text">
      <h1 class="w-100"><%= t("fxone_plus.first_section_title") %></h1>
      <p class="mb-4" style="width: 90%;"><%= t("fxone_plus.first_section_text") %></p>
      <p class="btn primary-button bold text-white mb-3 mb-sm-0 mr-3" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
      <%= link_to "#{ t("home.download") }", "/plus-brochure.pdf", target: "_blank", class: "btn secondary-button mb-3 mb-sm-0" %>
    </div>
    <div class="product-carousel dark-carousel">
      <div id="carouselExampleCaptions" class="carousel slide mb-5" data-ride="carousel" data-interval="false">
         <div class="carousel-controls">
          <div class="">
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <i class="fas fa-angle-left"></i>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            </ol>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active pb-0">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1680171118/FX_ONE_PLUS_3_kqyrqv.png", class: "first-section-image", style: "max-width: 800px;", alt: "The FX ONE Plus") %>
          </div>
          <div class="carousel-item pb-0">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1680171118/FX_ONE_PLUS_9_k9psqa.png", class: "first-section-image", style: "max-width: 800px;", alt: "The FX ONE Remote printer image two") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-width px-3 px-md-5">
    <div class="bg-white p-4 border-radius">
      <h1 class="text-center pb-5"><%= t("fxone_plus.mid_section_title") %></h1>
      <h3 class="text-center pb-5"><%= t("fxone_plus.huge_cost_savings") %></h3>
      <div class="d-flex align-items-center justify-content-center w-100 mb-4 mb-md-0 mt-3">
        <%= image_tag 'uk.png', class: 'home-uk mr-4', alt: 'UK flag' %>
        <h6 class="mb-0"><%= t("home.title_second_description") %></h6>
      </div>
    </div>
  </div>

  <div class="pb-5">
    <div class="max-width py-5 px-3 px-md-5">
      <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1679949939/2606f2548d3a38adb4e9661619eab378871a283a_ydoqvr.png", class: "w-100", style: 'border-radius: 6px;', alt: "build to last") %>
    </div>
  </div>

  <div class="first-section pb-0 max-width">
    <div class="">
      <div class="row m-0 py-5 column-reverse">
        <div class="col-12 col-md-5 d-flex flex-direction-column justify-content-center">
          <h2 class=""><%= t("fxone_plus.grid_title_one") %></h2>
          <p class="mb-4"><%= t("fxone_plus.grid_description_one_html") %></p>
          <%= link_to contact_path, class: 'link-orange' do %>
            <p class="text-orange bold mb-0"><%= t("fxone_standard.grid_link_one") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
        <div class="col-12 col-md-7">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1679950046/a137c038175cabc9f2ae54ce67d0e098108a25d9_w1ayfk.png", class: "w-100", alt: "72 mm print height diagram") %>
        </div>
      </div>
    </div>
  </div>

  <div class="first-section pb-0 max-width ">
    <div class="">
      <div class="row m-0 py-5 column-reverse">
        <div class="col-12 col-md-7">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1679950057/b54b8d0747b6e490ea101d5abac8da4b80f5d192_sslhz2.png", class: "w-100", alt: "72 mm print height diagram") %>
        </div>
        <div class="col-12 col-md-5 d-flex flex-direction-column justify-content-center">
          <h2 class=""><%= t("fxone_plus.grid_title_two") %></h2>
          <p class="mb-4"><%= t("fxone_plus.grid_description_two_html") %></p>
          <%= link_to contact_path, class: 'link-orange' do %>
            <p class="text-orange bold mb-0 "><%= t("fxone_standard.grid_link_two") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="first-section pb-0 max-width">
    <div class="">
      <div class="row m-0 py-5 column-reverse">
        <div class="col-12 col-md-5  d-flex flex-direction-column justify-content-center">
          <h2 class=""><%= t("fxone_plus.grid_title_three") %></h2>
          <p class="mb-4"><%= t("fxone_plus.grid_description_three_html") %></p>
          <%= link_to software_path, class: 'link-orange' do %>
            <p class="text-orange bold"><%= t("fxone_standard.grid_link_four") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
        <div class="col-12 col-md-7">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1679950104/030cf3d17cc3214991df1a2fb8a2f7e6c775cfb1_vhiksp.png", class: "w-100", alt: "72 mm print height diagram") %>
        </div>
      </div>
    </div>
  </div>

  <div class="first-section pb-0 max-width">
    <div class="">
      <div class="row m-0 py-5 column-reverse">
        <div class="col-12 col-md-7">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1680114321/FX_ONE_PLUS_12_jucpe2.png", class: "w-100", alt: "72 mm print height diagram") %>
        </div>
        <div class="col-12 col-md-5  d-flex flex-direction-column justify-content-center">
          <h2 class=""><%= t("fxone_plus.grid_title_four") %></h2>
          <p class="mb-4"><%= t("fxone_plus.grid_description_four_html") %></p>
          <%= link_to industry_path, class: 'link-orange' do %>
            <p class="text-orange bold"><%= t("fxone_standard.grid_link_four") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

   <div class="grid-container pb-0 px-3 px-md-5">
    <div class="max-width">
      <p class="text-center mb-4"><%= t("fxone_plus.second_section_title").upcase %></p>
      <h2 class="text-center mb-0"><%= t("fxone_remote.cards_section_description") %></h2>
      <h2 class="text-center mb-5"><%= t("fxone_remote.cards_section_description_two") %></h2>
      <div class="row m-0 justify-content-center fxone-cards">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-1.png', class: 'square-card-icon', alt: 'high resolution' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.first_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.first_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-2.png', class: 'square-card-icon', alt: 'True type font' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.tenth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.tenth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-3.png', class: 'square-card-icon', alt: 'Graphics' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.third_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.third_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-4.png', class: 'square-card-icon', alt: 'Barcodes' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.sixth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.sixth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-5.png', class: 'square-card-icon', alt: 'Touch controller' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.eigth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.eigth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-6.png', class: 'square-card-icon', alt: 'Connectivity' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.second_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.second_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-7.png', class: 'square-card-icon', alt: 'Multi Port Connection' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.twelfth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.twelfth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-8.png', class: 'square-card-icon', alt: 'Networking' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.ninth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.ninth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-9.png', class: 'square-card-icon', alt: 'Out of the box' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.fifth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.fifth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-10.png', class: 'square-card-icon', alt: 'Warranty' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.seventh_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.seventh_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-11.png', class: 'square-card-icon', alt: 'Large solvent based ink cartridge' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.eleventh_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.eleventh_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card white-bg">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-12.png', class: 'square-card-icon', alt: 'Ink saver mode' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_plus.thirteenth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_plus.thirteenth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627495603/fxorm-1_yc9xpl.png", class: "main-img-width mt-5", style: "max-width: 800px;", alt: "Technical specifications") %>
      </div>
    </div>
  </div>

  <div class="half-bg">
    <div class="max-width px-3 px-md-5">
      <div class="remote-pop">
        <div class="d-block d-md-flex justify-content-between align-items-center w-100">
          <div class="flex-grow-1">
            <div class="d-flex align-items-center justify-content-start mb-3">
              <h3 class="font-weight-normal text-white mb-0"><%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626185426/fxt-1_vt9xhq.png", class: "mr-2", style: "height: 21px; position: relative; top: -2px", alt: "FX logo") %><%= t("fxone_remote.pop_title") %><span class="ml-2" style="font-size: 22px"><%= t("fxone_remote.pop_title_two") %></span></h3>
            </div>
            <div class="row m-0">
              <div class="col-12 col-md-6">
                <div class="mr-5">
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_one") %></p>
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_two") %></p>
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_three") %></p>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="">
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_four") %></p>
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_five") %></p>
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_six") %></p>
                </div>
              </div>
            </div>
          </div>
          <%= link_to "#{t("fxone_remote.pop_link")}", software_path, class: 'btn primary-button button-width ml-0 ml-md-5' %>
        </div>
      </div>
    </div>
  </div>

  <div class="fxone-third-section position-relative plus-bg">
    <div class="max-width px-3 px-md-5 pt-5">
      <h2 class="mb-4 text-white"><%= t("fxone_remote.fourth_section_title") %></h2>
      <div class="fxone-fifth-section-content-wrapper my-5 standard-tech-specs charcoal-bg">
        <div class="fxone-fifth-section-content text-white">
          <div class="fxone-fifth-section-left">
            <h2 class=""><%= t("fxone_standard.full_title") %></h2>
            <p class="bold  mb-2 mt-5"><%= t("fxone_remote.fifth_section_left_title") %></p>
            <ul class="pl-3">
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_one") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_plus.fifth_section_left_two") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_plus.fifth_section_left_three") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_four") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_five") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_six") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_seven") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_plus.fifth_section_left_eight") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_nine") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_ten") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_eleven") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_twelve") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_plus.fifth_section_left_thirteen") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_fourteen") %></li>
            </ul>
            <p class="v-small-text "><%= t("fxone_remote.fifth_section_message") %></p>
          </div>
          <div class="fxone-fifth-section-right">
            <div class="d-flex align-items-center justify-content-start w-100 mb-3">
              <%= image_tag 'uk.png', class: 'home-uk', alt: 'UK flag' %>
              <h6 class="mb-0 "><%= t("home.title_second_description") %></h6>
            </div>
            <p class="bold  mb-2 mt-5"><%= t("fxone_remote.fifth_section_right_title_one") %></p>
            <ul class="pl-3">
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_one") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_two") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_three") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_four") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_five") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_six") %></li>
            </ul>
            <p class="bold  mb-2"><%= t("fxone_remote.fifth_section_right_title_two") %></p>
            <ul class="pl-3">
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_seven") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_eight") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_nine") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_ten") %></li>
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_eleven") %></li>
            </ul>
            <p class="bold  mb-2"><%= t("fxone_remote.fifth_section_right_title_three") %></p>
            <ul class="pl-3">
              <li class=" small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_twelve") %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plus-bg text-white d-flex flex-column justify-content-center align-items-center pb-5">
    <h2 class="mb-4"><%= t("fxone_remote.build_to_last") %></h2>
    <p class="mb-0"><%= t("fxone_remote.build_to_last_description") %></p>
    <p class="mb-0"><%= t("fxone_remote.build_to_last_description_two") %></p>
  </div>
  <div class="plus-bg pb-5">
    <div class="max-width py-5 px-3 px-md-5">
      <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1680114321/FX_ONE_PLUS_12_jucpe2.png", class: "w-100", style: 'border-radius: 6px;', alt: "build to last") %>
    </div>
  </div>

  <div class="plus-bg pt-5 pb-5">
    <div class="max-width px-3 px-md-5 pb-5 mb-5">
      <h1 class="text-center text-white mb-4"><%= t("fxone_remote.discover") %></h1>
      <div class="row m-0">
        <div class="col-12 px-0">
          <div class="shared-tech px-4 px-md-5 py-4 mb-4 bg-white">
            <div class="d-flex align-items-center justify-content-start w-100 mb-4 mb-md-0 mt-3">
               <%= image_tag 'uk.png', class: 'home-uk mr-4', alt: 'UK flag' %>
              <h6 class="mb-0"><%= t("home.title_second_description") %></h6>
            </div>
            <div class="">
              <h1 class="mb-0"><%= t("fxone_remote.shared_tech") %></h1>
              <p class="mb-0"><%= t("fxone_remote.shared_tech_text_one") %></p>
              <p class="mb-0"><%= t("fxone_remote.shared_tech_text_two") %></p>
              <p class="mb-0"><%= t("fxone_remote.shared_tech_text_three") %></p>
              <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626258473/fxor-1_b1dj2y.png", class: "shared-tech-image", alt: "shared technology") %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 pt-3 pl-0 pr-0 pr-lg-3">
          <div class="dark-bg fxone-range mr-lg-1">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626258476/fxor-2_f2sb74.png", class: "mb-5 fxone-range-img-one", alt: "FX ONE Standard") %>
            <h1 class="text-center text-white mb-0 mt-5"><%= t("fxone_remote.fx_one_standard") %></h1>
            <h4 class="text-center text-white mb-0"><%= t("fxone_remote.fx_one_standard_sub") %></h4>
            <h4 class="text-center text-white mb-4"><%= t("fxone_remote.fx_one_standard_sub_two") %></h4>
            <p class="text-center mb-0 light-grey"><%= t("fxone_remote.fx_one_standard_text") %></p>
            <p class="text-center mb-0 light-grey"><%= t("fxone_remote.fx_one_standard_text_two") %></p>
            <p class="text-center mb-4 light-grey"><%= t("fxone_remote.fx_one_standard_text_three") %></p>
            <%= link_to fxone_standard_path, class: 'link-orange' do %>
              <p class="text-orange bold"><%= t("fxone_remote.grid_link_six") %> <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-6 pt-5 pt-lg-3 pr-0 pl-0 pl-lg-3">
          <div class="black-bg fxone-range mr-lg-1">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626369972/fxosfxr_msqbht.png", class: "mb-5 fxone-range-img-two", alt: "FX ONE Remote") %>
            <h1 class="text-center text-white mb-0 mt-5"><%= t("fxone_standard.fx_one_remote") %></h1>
            <h4 class="text-center text-white mb-0"><%= t("fxone_standard.fx_one_remote_sub") %></h4>
            <h4 class="text-center text-white mb-4"><%= t("fxone_standard.fx_one_remote_sub_two") %></h4>
            <p class="text-center mb-0 light-grey"><%= t("fxone_standard.fx_one_remote_text") %></p>
            <p class="text-center mb-0 light-grey"><%= t("fxone_standard.fx_one_remote_text_two") %></p>
            <p class="text-center mb-4 light-grey"><%= t("fxone_standard.fx_one_remote_text_three") %></p>
            <%= link_to fxone_remote_path, class: 'link-orange' do %>
              <p class="text-orange bold"><%= t("fxone_remote.grid_link_six") %> <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-cont" id="modal-cont">
        <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/_YLPq2gTCw0?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>






<script>
  comingSoon = document.querySelector('.coming-soon');
  image = document.querySelector('.fxone-plus-graphic');

  image.addEventListener('mouseover', () => {
    comingSoon.style.opacity = 1
  })
  image.addEventListener('mouseleave', () => {
    comingSoon.style.opacity = 0
  })
  comingSoon.addEventListener('mouseover', () => {
    comingSoon.style.opacity = 1
    image.style.filter = 'blur(10px)'
  })
  comingSoon.addEventListener('mouseleave', () => {
    comingSoon.style.opacity = 0
    image.style.filter = ''
  })
</script>
