<% content_for :meta_title, "#{t('seo.fxone_remote.title')}" %>
<% content_for :meta_description, "#{t('seo.fxone_standard.description')}" %>
<% content_for :meta_keywords, "#{t('seo.fxone_standard.keywords')}" %>
<% content_for :meta_image, cl_image_path("fxone-remote-graphic-1_rq5ho4.png", width: 400, alt: "FX ONE remote printer") %>

<div class="fxone-wrapper">
  <div class="first-section max-width" style="overflow-x: unset;">
    <div class="first-section-text">
      <h1 class="w-100"><span><%= cl_image_tag("fxone-logo_zjjdvc.png", class: "fxone-logo") %></span> <%= t("fxone_remote.first_section_title") %></h1>
      <p><%= t("fxone_remote.first_section_text") %></p>
      <p class="btn primary-button bold text-white mb-3 mb-sm-0 mr-3" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
      <%= link_to "#{ t("home.download") }", "/fxone_remote_brochure.pdf", target: "_blank", class: "btn secondary-button mb-3 mb-sm-0" %>
    </div>
    <div class="product-carousel" style="background-image: url(<%= cl_image_path 'https://res.cloudinary.com/foenix-coding/image/upload/v1626168450/c-bg_1_arizvl.png', alt: 'carousel background' %>)">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-controls">
          <div class="">
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <i class="fas fa-angle-left"></i>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626291489/fxremote3_gvhxdu.png", class: "first-section-image", style: "max-width: 800px;", alt: "The FX ONE Remote printer image three") %>
          </div>
          <div class="carousel-item active">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626290952/fxremote1_ahh0wb.png", class: "first-section-image", style: "max-width: 800px;", alt: "The FX ONE Remote printer image one") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626290951/fxremote2_kl9lq9.png", class: "first-section-image", style: "max-width: 800px;", alt: "The FX ONE Remote printer image two") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="first-section max-width">
    <div class="">
      <div class="row m-0 py-5 align-items-center">
        <div class="col-12 col-md-6">
          <h2 class="pt-0 pt-md-5 mt-4"><%= t("fxone_remote.grid_title_one") %></h2>
          <p class="mb-0"><%= t("fxone_remote.grid_description_one_html") %></p>
          <%= link_to contact_path, class: 'link-orange' do %>
            <p class="text-orange bold"><%= t("fxone_remote.grid_link_one") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626174718/fxr-1_hbvcdy.png", class: "w-100 parallax-img", alt: "Lid printing") %>
        </div>
      </div>
      <div class="row m-0 py-5 column-reverse align-items-center">
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626174899/fxr-2_ns4kn9.png", class: "w-100 parallax-img", alt: "Modular inkjet coder") %>
        </div>
        <div class="col-12 col-md-6">
          <h2 class="pt-5 mt-4"><%= t("fxone_remote.grid_title_two") %></h2>
          <p class="mb-4"><%= t("fxone_remote.grid_description_two_html") %></p>
          <%= link_to contact_path, class: 'link-orange' do %>
            <p class="text-orange bold"><%= t("fxone_remote.grid_link_two") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
      </div>
      <div class="row m-0 py-5 align-items-center">
        <div class="col-12 col-md-6">
          <h2 class="pt-0 pt-md-5 mt-4"><%= t("fxone_remote.grid_title_three") %></h2>
          <p class="mb-4"><%= t("fxone_remote.grid_description_three_html") %></p>
          <%= link_to contact_path, class: 'link-orange' do %>
            <p class="text-orange bold"><%= t("fxone_remote.grid_link_three") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626174901/fxr-3_a87w8m.png", class: "w-100 parallax-img", alt: "Box printing") %>
        </div>
      </div>
      <div class="row m-0 py-5 column-reverse align-items-center">
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626174903/fxr-4_mcavip.png", class: "w-100 parallax-img", alt: "Auto shutter") %>
        </div>
        <div class="col-12 col-md-6">
          <h2 class="pt-5 mt-4"><%= t("fxone_remote.grid_title_four") %></h2>
          <p class="mb-4"><%= t("fxone_remote.grid_description_four_html") %></p>
          <%#= link_to '#', class: 'link-orange' do %>
            <!-- <p class="text-orange bold"><%#= t("fxone_remote.grid_link_four") %> <i class="fas fa-arrow-right ml-2"></i></p> -->
          <%# end %>
        </div>
      </div>
      <div class="row m-0 py-5 align-items-center">
        <div class="col-12 col-md-6">
          <h2 class="pt-0 pt-md-5 mt-4"><%= t("fxone_remote.grid_title_five") %></h2>
          <p class="mb-4"><%= t("fxone_remote.grid_description_five_html") %></p>
          <%= link_to inks_and_consumables_path, class: 'link-orange' do %>
            <p class="text-orange bold"><%= t("fxone_remote.grid_link_five") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626174905/fxr-5_uluvk9.png", class: "w-100 parallax-img", alt: "Ink cartridge") %>
        </div>
      </div>
      <div class="row m-0 py-5 column-reverse align-items-center">
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626174907/fxr-6_njsqbw.png", class: "w-100 parallax-img", alt: "FX APP Software") %>
        </div>
        <div class="col-12 col-md-6">
          <h2 class=""><%= t("fxone_remote.grid_title_six") %></h2>
          <p class="mb-4"><%= t("fxone_remote.grid_description_six_html") %></p>
          <%= link_to software_path, class: 'link-orange' do %>
            <p class="text-orange bold"><%= t("fxone_remote.grid_link_six") %> <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="first-section grid-container pb-0 px-3 px-md-5">
    <div class="max-width">
      <p class="text-center mb-4"><%= t("fxone_remote.second_section_title").upcase %></p>
      <h2 class="text-center mb-0"><%= t("fxone_remote.cards_section_description") %></h2>
      <h2 class="text-center mb-5"><%= t("fxone_remote.cards_section_description_two") %></h2>
      <div class="row m-0 justify-content-center fxone-cards">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-1.png', class: 'square-card-icon', alt: 'high resolution' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.first_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.first_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-2.png', class: 'square-card-icon', alt: 'True type font' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.tenth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.tenth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-3.png', class: 'square-card-icon', alt: 'Graphics' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.third_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.third_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-4.png', class: 'square-card-icon', alt: 'Barcodes' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.sixth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.sixth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-5.png', class: 'square-card-icon', alt: 'Touch controller' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.eigth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.eigth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-6.png', class: 'square-card-icon', alt: 'Connectivity' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.second_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.second_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-7.png', class: 'square-card-icon', alt: 'Multi Port Connection' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.twelfth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.twelfth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-8.png', class: 'square-card-icon', alt: 'Networking' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.ninth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.ninth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-9.png', class: 'square-card-icon', alt: 'Out of the box' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.fifth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.fifth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-10.png', class: 'square-card-icon', alt: 'Warranty' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.seventh_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.seventh_card_text_html") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-11.png', class: 'square-card-icon', alt: 'Large solvent based ink cartridge' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.eleventh_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.eleventh_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="fxone-card">
            <div class="d-flex align-items-start">
              <%= image_tag 'gi-12.png', class: 'square-card-icon', alt: 'Ink saver mode' %>
              <div class="">
                <h6 class="mt-4"><%= t("fxone_remote.thirteenth_card_title") %></h6>
                <p class="small-text"><%= t("fxone_remote.thirteenth_card_text") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627495604/fxosd-1_yd9pyk.png", class: "main-img-width mt-5", style: "max-width: 800px;", alt: "FX APP Software") %>
      </div>
    </div>
  </div>

  <div class="half-bg">
    <div class="max-width px-3 px-md-5">
      <div class="remote-pop">
        <div class="d-block d-md-flex justify-content-between align-items-center w-100">
          <div class="flex-grow-1">
            <div class="d-flex align-items-center justify-content-start mb-3">

              <h3 class="font-weight-normal text-white mb-0"><%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626185426/fxt-1_vt9xhq.png", class: "mr-2", style: "height: 21px; position: relative; top: -2px", alt: "FX logo") %><%= t("fxone_remote.pop_title") %><span class="ml-2" style="font-size: 22px"><%= t("fxone_remote.pop_title_two") %></span></h3>
            </div>
            <div class="row m-0">
              <div class="col-12 col-md-6">
                <div class="mr-5">
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_one") %></p>
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_two") %></p>
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_three") %></p>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="">
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_four") %></p>
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_five") %></p>
                  <p class="mb-3 mb-md-0 text-white s-medium-text"><i class="far fa-check-circle text-orange mr-2"></i><%= t("fxone_remote.pop_text_six") %></p>
                </div>
              </div>
            </div>
          </div>
          <%= link_to "#{t("fxone_remote.pop_link")}", software_path, class: 'btn primary-button button-width ml-0 ml-md-5' %>
        </div>
      </div>
    </div>
  </div>

  <div class="fxone-third-section position-relative">
    <div class="max-width px-3 px-md-5 pt-5">

      <h2 class="text-white mb-4"><%= t("fxone_remote.fourth_section_title") %></h2>
      <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626188359/ts-1_tpbayg.png", class: "w-100", alt: "Technical specifications") %>
      <div class="fxone-fifth-section-content-wrapper my-5">
        <div class="fxone-fifth-section-content">
          <div class="fxone-fifth-section-left">
            <h2 class="text-white"><%= t("fxone_remote.fifth_section_main_title") %></h2>
            <p class="bold text-white mb-2 mt-5"><%= t("fxone_remote.fifth_section_left_title") %></p>
            <ul class="pl-3">
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_one") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_two") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_three") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_four") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_five") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_six") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_seven") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_eight") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_nine") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_ten") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_eleven") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_twelve") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_thirteen") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_left_fourteen") %></li>
            </ul>
            <p class="v-small-text text-white"><%= t("fxone_remote.fifth_section_message") %></p>
          </div>
          <div class="fxone-fifth-section-right">
            <div class="d-flex align-items-center justify-content-start w-100 mb-3">
              <%= image_tag 'uk.png', class: 'home-uk', alt: 'UK flag' %>
              <h6 class="mb-0 text-white"><%= t("home.title_second_description") %></h6>
            </div>
            <p class="bold text-white mb-2 mt-5"><%= t("fxone_remote.fifth_section_right_title_one") %></p>
            <ul class="pl-3">
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_one") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_two") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_three") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_four") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_five") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_six") %></li>
            </ul>
            <p class="bold text-white mb-2"><%= t("fxone_remote.fifth_section_right_title_two") %></p>
            <ul class="pl-3">
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_seven") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_eight") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_nine") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_ten") %></li>
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_eleven") %></li>
            </ul>
            <p class="bold text-white mb-2"><%= t("fxone_remote.fifth_section_right_title_three") %></p>
            <ul class="pl-3">
              <li class="text-white small-text" style="line-height: 25px !important"><%= t("fxone_remote.fifth_section_right_twelve") %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-bg d-flex flex-column justify-content-center align-items-center pb-5">
    <h2 class="text-white mb-4"><%= t("fxone_remote.build_to_last") %></h2>
    <p class="mb-0 text-white"><%= t("fxone_remote.build_to_last_description") %></p>
    <p class="mb-0 text-white"><%= t("fxone_remote.build_to_last_description_two") %></p>
  </div>
  <div class="dark-bg pb-5">
    <div class="max-width py-5 px-3 px-md-5">
      <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626277327/fxrw-4_uduqtu.png", class: "w-100", alt: "build to last") %>
    </div>
  </div>
  <div class="dark-bg pb-5">
    <div class="max-width px-3 px-md-5">
      <h1 class="text-center text-white mb-4"><%= t("fxone_remote.discover") %></h1>
      <div class="row m-0">
        <div class="col-12 px-0">
          <div class="shared-tech px-4 px-md-5 py-4 mb-4">
            <div class="d-flex align-items-center justify-content-start w-100 mb-4 mb-md-0 mt-3">
               <%= image_tag 'uk.png', class: 'home-uk mr-4', alt: 'UK flag' %>
              <h6 class="mb-0 text-white"><%= t("home.title_second_description") %></h6>
            </div>
            <div class="">
              <h1 class="text-white mb-0"><%= t("fxone_remote.shared_tech") %></h1>
              <p class="mb-0 text-white"><%= t("fxone_remote.shared_tech_text_one") %></p>
              <p class="mb-0 text-white"><%= t("fxone_remote.shared_tech_text_two") %></p>
              <p class="mb-0 text-white"><%= t("fxone_remote.shared_tech_text_three") %></p>
              <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626258473/fxor-1_b1dj2y.png", class: "shared-tech-image", alt: "shared technology") %>

            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 pt-3 pl-0 pr-0 pr-lg-3">
          <div class="charcoal-bg fxone-range mr-lg-1">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626258476/fxor-2_f2sb74.png", class: "mb-5 fxone-range-img-one", alt: "FX ONE Standard") %>
            <h1 class="text-center text-white mb-0 mt-5"><%= t("fxone_remote.fx_one_standard") %></h1>
            <h4 class="text-center text-white mb-0"><%= t("fxone_remote.fx_one_standard_sub") %></h4>
            <h4 class="text-center text-white mb-4"><%= t("fxone_remote.fx_one_standard_sub_two") %></h4>
            <p class="text-center mb-0 light-grey"><%= t("fxone_remote.fx_one_standard_text") %></p>
            <p class="text-center mb-0 light-grey"><%= t("fxone_remote.fx_one_standard_text_two") %></p>
            <p class="text-center mb-4 light-grey"><%= t("fxone_remote.fx_one_standard_text_three") %></p>
            <%= link_to fxone_standard_path, class: 'link-orange' do %>
              <p class="text-orange bold"><%= t("fxone_remote.grid_link_six") %> <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-6 pt-5 pt-lg-3 pr-0 pl-0 pl-lg-3">
          <div class="bg-white fxone-range ml-lg-1 position-relative">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626261126/fxor-3_xo5t1s.png", class: "mb-5 fxone-range-img-two", alt: "FX ONE Plus") %>
            <h1 class="text-center grey mb-0 mt-5"><%= t("fxone_remote.fx_one_plus") %></h1>
            <h4 class="text-center grey  mb-0"><%= t("fxone_remote.fx_one_plus_sub") %></h4>
            <h4 class="text-center grey  mb-4"><%= t("fxone_remote.fx_one_plus_sub_two") %></h4>
            <p class="text-center grey mb-0"><%= t("fxone_remote.fx_one_plus_text") %></p>
            <p class="text-center grey mb-0"><%= t("fxone_remote.fx_one_plus_text_two") %></p>
            <p class="text-center grey mb-4"><%= t("fxone_remote.fx_one_plus_text_three") %></p>
            <div class="printers-coming-soon  pos-top-right px-2 py-1">
              <p class="text-orange bold mb-0"><%= t("printers.coming_soon") %></p>
            </div>
            <%= link_to fxone_plus_path, class: 'link-orange' do %>
              <p class="text-orange bold"><%= t("fxone_remote.grid_link_six") %> <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-bg pb-5">
    <div class="max-width px-3 px-md-5">
      <div class="remote-pop">
        <div class="d-block d-md-flex justify-content-between align-items-center w-100">
          <div class="flex-grow-1">
            <p class="mb-4 medium-text text-orange"><%= t("fxone_remote.low_ink") %></p>
            <p class="text-white medium-text text-orange mb-0"><%= t("fxone_remote.low_ink_text") %></p>
            <p class="text-white medium-text text-orange mb-0"><%= t("fxone_remote.low_ink_text_two") %></p>

          </div>
          <%= link_to "#{t("fxone_remote.pop_link")}", cost_of_ownership_path, class: 'btn primary-button button-width ml-0 ml-md-5' %>
        </div>
      </div>
    </div>
  </div>









  <div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-cont" id="modal-cont">
        <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/oMW-QEs1zmc?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


