<% content_for :meta_title, "#{t('seo.home_page.title')}" %>
<% content_for :meta_description, "#{t('seo.home_page.description')}" %>

<div class="home">
  <div class="first-section max-width" style="overflow-x: unset;">
    <div class="first-section-text">
      <!-- WEB TITLE -->
      <h1 class="hide-mobile m-0"><%= t("home.title") %></h1>
      <h1 class="hide-mobile"><%= t("home.title_bottom") %>  <span id="span_scroll" class="animated" data-array="<%= [t("home.title_span2"), t("home.title_span3"), t("home.title_span4"), t("home.title_span1")].to_json %>"><span class="animated-span"><%= t("home.title_span1") %></span></span></h1>
      <!-- WEB TITLE -->
      <!-- MOBILE TITLE -->
      <h1 class="show-mobile"><%= t("home.mobile_title") %>  <span id="span_scroll" class="animated" data-array="<%= [t("home.title_span2"), t("home.title_span3"), t("home.title_span1")].to_json %>"><span class="animated-span"><%= t("home.title_span2") %></span></span></h1>
      <!-- MOBILE TITLE -->
      <p class="home-title-description"><%= t("home.title_description") %></p>
      <div class="d-flex align-items-center">
        <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
        <%= link_to '#', class: 'link-orange' do %>
          <p class="text-orange mb-0 ml-4">Learn more <i class="fas fa-arrow-right ml-2"></i></p>
        <% end %>
      </div>
    </div>
    <div class="product-carousel" style="background-image: url(<%= cl_image_path 'https://res.cloudinary.com/foenix-coding/image/upload/v1626168450/c-bg_1_arizvl.png' %>)">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-controls">
          <div class="">
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <i class="fas fa-angle-left"></i>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1625060046/hci-3_idgn1d.png", class: "first-section-image", style: "max-width: 800px;", alt: "The FX ONE printer, for all your inudstrial printing needs") %>
          </div>
          <div class="carousel-item active">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1625060042/hci-1_ilqcen.png", class: "first-section-image", style: "max-width: 800px;", alt: "The FX ONE printer, for all your inudstrial printing needs") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1625060044/hci-2_kwkj2m.png", class: "first-section-image", style: "max-width: 800px;", alt: "The FX ONE printer, for all your inudstrial printing needs") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="second-section max-width">
      <div class="second-section-one">
        <h4 class="font-weight-normal text-center"><%= t("home.title_second") %></h4>
        <div class="d-flex align-items-center justify-content-center w-100">
          <%= image_tag 'uk.png', class: 'home-uk' %>
          <h6 class="mb-0"><%= t("home.title_second_description") %></h6>
        </div>
      </div>
      <div class="second-section-two">
        <div class="second-section-two-text max-width">
          <div class="col-12 col-md-3 mb-5 mb-md-0">
            <h2 class="pr-5"><%= t("home.second_section_one_title") %></h2>
            <p><%= t("home.second_section_one_description") %></p>
          </div>
          <div class="col-12 col-md-3 mb-5 mb-md-0">
            <h2 class="pr-5"><%= t("home.second_section_two_title") %></h2>
            <p><%= t("home.second_section_two_description") %></p>
          </div>
          <div class="col-12 col-md-3">
            <h2 class="pr-5"><%= t("home.second_section_three_title") %></h2>
            <p><%= t("home.second_section_three_description") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-bg">
    <div class="third-section max-width">
      <div class="third-section-one max-width">
        <h2 class="text-white text-center"><%= t("home.third_section_title") %></h2>
        <p class="text-white text-center"><%= t("home.third_section_description") %></p>
        <div class="row m-0 py-5">
          <div class="col-6 col-lg-3 mb-4 mb-lg-0 position-relative">
            <div class="bg-white pt-4 border-radius">
              <p class="bold coding-marking-text"><%= t("home.first_image") %></p>
              <%= cl_image_tag 'https://res.cloudinary.com/foenix-coding/image/upload/v1625070028/hts-1_amswww.png' %>
            </div>
          </div>
          <div class="col-6 col-lg-3 mb-4 mb-lg-0 position-relative">
            <div class="bg-white pt-4 border-radius">
              <p class="bold coding-marking-text"><%= t("home.second_image") %></p>
              <%= cl_image_tag 'https://res.cloudinary.com/foenix-coding/image/upload/v1625070033/hts-2_oj4pvy.png' %>
            </div>
          </div>
          <div class="col-6 col-lg-3 position-relative">
            <div class="bg-white pt-4 border-radius">
              <p class="bold coding-marking-text"><%= t("home.third_image") %></p>
              <%= cl_image_tag 'https://res.cloudinary.com/foenix-coding/image/upload/v1625070038/hts-3_iwm2ie.png' %>
            </div>
          </div>
          <div class="col-6 col-lg-3 position-relative">
            <div class="bg-white pt-4 border-radius">
              <p class="bold coding-marking-text"><%= t("home.fourth_image") %></p>
              <%= cl_image_tag 'https://res.cloudinary.com/foenix-coding/image/upload/v1625070043/hts-4_p5romj.png' %>
            </div>
          </div>
        </div>
        <p class="text-white text-center mb-0"><%= t("home.third_section_statement_one") %></p>
        <p class="text-white text-center"><%= t("home.third_section_statement_two") %></p>
      </div>
    </div>
  </div>
  <div class="dark-bg">
    <div class="fourth-section max-width">
        <div class="row m-0 pb-5">
          <div class="col-12 col-md-6">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1625128572/fsi-1_h95eg4.png", class: "w-100 mb-4 mb-md-0", alt: "Box coding") %>
          </div>
          <div class="col-12 col-md-6">
            <h2 class="text-white"><%= t("home.box_coding_title") %></h2>
            <p class="text-white mb-4"><%= t("home.box_coding_description") %></p>
            <%= link_to 'Learn more', '#', class: 'btn secondary-button button-width mr-3' %>
            <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>

          </div>
        </div>
        <div class="row m-0 pt-5 column-reverse">
          <div class="col-12 col-md-6">
            <h2 class="text-white"><%= t("home.product_coding_title") %></h2>
            <p class="text-white mb-4"><%= t("home.product_coding_description") %></p>
            <%= link_to 'Learn more', '#', class: 'btn secondary-button button-width mr-3' %>
            <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
          </div>
          <div class="col-12 col-md-6">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1625128577/fsi-2_cflsou.png", class: "w-100 mb-4 mb-md-0", alt: "Product coding") %>
          </div>
        </div>
    </div>
  </div>
  <div class="dark-bg">
    <div class="fifth-section max-width">
      <div class="row m-0 justify-content-center">
        <div class="col-12 col-sm-8 col-lg-5">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-white text-center mb-3"><%= t("home.fifth_section_title_html") %></h2>
            <p class="small-text text-white text-center"><%= t("home.fifth-section_description_one") %></p>
            <%= link_to '#', class: 'link-orange' do %>
              <p class="text-orange">Learn more <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
            <p class="small-text text-white text-center"><%= t("home.fifth-section_description_two") %></p>
            <%= link_to '#', class: 'link-orange' do %>
              <p class="text-orange">Learn more <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sixth-section">
    <div class="max-width">
      <div class="row ml-0 ml-md-5 mr-0 pl-0 pl-md-5 mb-4">
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'food.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.food") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'cosmetics.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.cosmetics") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'extrusion.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.extrusion") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'electronics.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.electronics") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'packaging.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.packaging") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'industrial.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.industrial") %></p>
          </div>
        </div>
      </div>
      <div class="row ml-0 mr-0 mr-md-5 pr-0 pr-md-5 mb-5">
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'automotive.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.automotive") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'beverage.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.beverage") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'pharmaceutical.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.pharmaceutical") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'construction.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.construction") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'chemicals.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.chemicals") %></p>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="d-flex flex-direction-column justify-content-center align-items-center">
            <%= image_tag 'more.png', width: 60, class: 'greyscale' %>
            <p class="small-text text-white text-center mt-3"><%= t("home.and_many_more") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-bg">
    <div class="seventh-section max-width">
      <div class="row align-items-center column-reverse">
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626171543/wi-1_fonenx.png", class: "w-100", alt: "Wide range of inks") %>
        </div>
        <div class="col-12 col-md-6">
          <h2 class="text-white mb-4"><%= t("home.inks_title") %></h2>
          <p class="text-white mb-5"><%= t("home.inks_description") %></p>
          <%= link_to 'Learn more', '#', class: 'btn secondary-button button-width mr-3' %>
        </div>
      </div>
    </div>
  </div>
  <div class="eigth-section max-width">
    <div class="eigth-section-one">
      <div class="d-block d-md-flex justify-content-between align-items-center w-100">
        <div class="">
          <h4 class="font-weight-normal text-white"><%= t("home.become_distributor_title") %></h4>
          <p class="mb-3 mb-md-0 text-white small-text"><%= t("home.become_distributor_description") %></p>
        </div>
        <%= link_to 'Get Started', '#', class: 'btn primary-button button-width ml-0 ml-md-5' %>
      </div>
    </div>
    <div class="max-width pt-5">
      <div class="row m-0 pb-5">
        <div class="col-12 col-md-6">
          <h2 class=""><%= t("home.eight_section_title_one") %></h2>
          <p class="mb-4"><%= t("home.eight_section_description_one") %></p>
          <%= link_to '#', class: 'link-orange' do %>
            <p class="text-orange">Learn more <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1625138681/esi-1_b0papu.png", class: "w-100", alt: "Product coding") %>
        </div>
      </div>
      <div class="row m-0 pt-5 column-reverse">
        <div class="col-12 col-md-6">
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1625138686/esi-2_pvrksv.png", class: "w-100 image-shadow", alt: "Box coding") %>
        </div>
        <div class="col-12 col-md-6">
          <h2 class=""><%= t("home.eight_section_title_two") %></h2>
          <p class="mb-4"><%= t("home.eight_section_description_two_html") %></p>
          <%= link_to '#', class: 'link-orange' do %>
            <p class="text-orange">Book a Demo <i class="fas fa-arrow-right ml-2"></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-cont" id="modal-cont">
        <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/oMW-QEs1zmc?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<script>

  var words = JSON.parse(document.getElementById('span_scroll').dataset.array)
  var i = 0;
  function insert_span(a){
    document.querySelector(".animated-span").classList.add("up");
    setTimeout(function(){
      document.getElementById('span_scroll').innerHTML = `<span class="animated-span down">${words[a]}</span>`
      document.querySelector(".animated-span").classList.remove("down");
    }, 300);
  }

  function loopForever(){
      setTimeout(function(){
          insert_span(i);
          i++;
          if(i == 4){
              i = 0;
          }
          loopForever();
      }, 800  * (i + 1));
  }
  loopForever();

  // =======================
  // Tab Display Switcher
  // =======================

  // const fadeTimeOut = (x, i) => {
  //   setTimeout(function() { x[i].style.display = "none" }, 500);
  // }

  // const fadeTimeIn = (city) => {
  //   setTimeout(function() { city.style.display = "flex" }, 500);
  // }

  let cancelAnimation = false;

  function openCity(cityName, humanInteraction) {
    var i;
    var x = document.getElementsByClassName("city");

    for (i = 0; i < x.length; i++) {
      // x[i].classList.add('fadeOut')
      x[i].style.display = "none"
      // fadeTimeOut(x, i);
    }
    const city = document.getElementById(cityName)
    // city.classList.remove('fadeOut')
    // city.classList.add('fadeIn')
    // fadeTimeIn(city)
    city.style.display = "flex"
    tabHighlighter(cityName)
    if(humanInteraction == true) {
      cancelAnimation = true
      tabTimer(humanInteraction);
    } else {
      cancelAnimation = false
      tabTimer(humanInteraction);
    }
  }

  // =======================
  // Tab Timer
  // =======================
  const tabTimer = (humanInteraction) => {
    const tabAreas = document.querySelectorAll('.city')
    tabAreas.forEach((area) => {
      if(area.getAttribute('style') == "display: flex;") {
        const progressHolder = area.firstElementChild.getElementsByTagName('span')[0]
        const progress = progressHolder.firstElementChild
        progress.style.width = '1%'
        var width = 1;
        if(cancelAnimation == false) {
          var id = setInterval(frame, 100);
        } else {
          clearInterval(id);
        }
        if(humanInteraction == true) {
          var id = setInterval(frame, 100);
        }
        function frame() {
          if (width >= 100) {
            clearInterval(id);
            if(cancelAnimation == true && humanInteraction == false) {
            } else {
              tabSwitcher(area);
            }
          } else {
            width += 1;
            progress.style.width = width + "%";
          }
        }
      }
    })
  }
  tabTimer(false)

  // =======================
  // Auto Tab Switcher
  // =======================
  const tabSwitcher = (area) => {
    const tabs = document.querySelectorAll('.cityTab')
    const tabCities = []
    tabs.forEach((tab) => {
      tabCities.push(tab.dataset.city)
    })
    const nextCity = tabCities[tabCities.indexOf(area.id) + 1]
    // cancelAnimation = false
    if(tabCities.indexOf(area.id) == 3) {
      openCity("London")
    } else {
      openCity(nextCity, false)
    }
  }

  // =======================
  // Tab Highlighter
  // =======================
  const tabHighlighter = (cityName) => {
    const tabs = document.querySelectorAll('.cityTab')
    const activeTab = document.querySelector(`.cityTab[data-city=${cityName}]`)
    tabs.forEach((tab) => {
      tab.classList.remove('activeTab')
    })
    activeTab.classList.add('activeTab')
  }

</script>
