<% content_for :meta_title, "#{t('seo.industry.title')}" %>
<% content_for :meta_description, "#{t('seo.industry.description')}" %>

<div class="industry-wrapper">
  <div class="max-width" style="overflow-x: unset;">
    <div class="row m-0 justify-content-center">
      <div class="col-12 col-md-11 col-lg-9 pt-5">
        <div class="d-flex flex-column justify-content-center align-items-center py-5">
          <h1 class="text-center mb-4"><%= t("industry.first_section_title") %></h1>
          <p class="text-center mb-4"><%= t("industry.first_section_text") %></p>
          <div class="d-flex justify-content center align-items-center">
            <%= link_to "#{t('industry.first_section_button_one')}", '#', class: 'primary-button mr-5', alt: 'printed products' %>
            <%= link_to '#', class: 'link-orange' do %>
              <p class="text-orange mb-0"><%= t('industry.first_section_button_two') %> <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-image: linear-gradient(#F4F4F4 50%, #2A2A2A 50%);">
    <div class="max-width px-3 px-md-5">
      <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626881158/indmi_gysqkh.png", class: "w-100 border-radius", alt: "build to last") %>
    </div>
  </div>
  <div class="dark-bg">
    <div class="max-width p-5">
      <div class="row m-0 justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 py-5">
          <div class="d-flex flex-column justify-content-center align-items-center py-5">
            <h1 class="text-center text-white mb-0"><%= t("industry.trusted_title") %></h1>
            <h1 class="text-center text-white mb-4"><%= t("industry.trusted_title_two") %></h1>
            <p class="text-center text-white mb-4"><%= t("industry.trusted_text_html") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sixth-section">
    <div class="max-width position-relative">
      <div class="max-width ticker-width px-3 px-md-5 position-relative">
        <div class="position-relative overflow-hidden">
          <%= render 'ticker' %>
        </div>
      </div>
      <div class="ticker-fade">
        <div class="ticker-fade-left">
          <div class="solid-bg"></div>
          <div class="fade-bg"></div>
        </div>
        <div class="ticker-fade-right">
          <div class="fade-bg"></div>
          <div class="solid-bg"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg pb-3">
    <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626886305/indwave_ntvgnc.png", class: "w-100", alt: "Wave animation") %>
  </div>

  <div class="max-width py-5 px-3 px-md-5">
    <div class="row m-0 justify-content-center">
      <div class="col-12 p-0">
        <h1 class="mb-4 pl-2"><%= t("industry.fd_title") %></h1>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_one") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_one") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_two") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_two") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_three") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_three") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_four") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_four") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_five") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_five") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_six") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_six") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_seven") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_seven") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_eight") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_eight") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_nine") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_nine") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_ten") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_ten") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_eleven") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_eleven") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_twelve") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_thirteen") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_thirteen") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_fourteen") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_fourteen") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_fifteen") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_sixteen") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_seventeen") %></p>
          <p class="mb-0"><%= t("industry.fd_card_text_seventeen") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.fd_card_title_eighteen") %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="max-width px-3 px-md-5 pb-5">
    <div class="product-carousel software-carousel industry-carousel">
      <div id="fdCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-controls industry-controls">
          <div class="">
            <a class="carousel-control-prev" href="#fdCarousel" role="button" data-slide="prev">
              <i class="fas fa-angle-left"></i>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#fdCarousel" data-slide-to="0"></li>
              <li data-target="#fdCarousel" data-slide-to="1"></li>
              <li data-target="#fdCarousel" data-slide-to="2"></li>
              <li data-target="#fdCarousel" data-slide-to="3" class="active"></li>
              <li data-target="#fdCarousel" data-slide-to="4"></li>
              <li data-target="#fdCarousel" data-slide-to="5"></li>
              <li data-target="#fdCarousel" data-slide-to="6"></li>
              <li data-target="#fdCarousel" data-slide-to="7"></li>
            </ol>
            <a class="carousel-control-next" href="#fdCarousel" role="button" data-slide="next">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627506302/fdc6_po7ixq.png", class: "first-section-image", alt: "potato bags with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627506302/fdc7_qmbp9n.png", class: "first-section-image", alt: "tall cans with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627506304/fdc8_xbt4sb.png", class: "first-section-image", alt: "milk carton with print") %>
          </div>
          <div class="carousel-item active">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627506303/fdc1_tbvd0c.png", class: "first-section-image", alt: "water bottle with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627506303/fdc2_rqz0az.png", class: "first-section-image", alt: "cans with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627507834/fdc3_arjebe.png", class: "first-section-image", alt: "potato package with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627506899/fdc4_zfqpva.png", class: "first-section-image", alt: "coffee bag with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627506305/fdc5_pyy2l1.png", class: "first-section-image", alt: "foam crate with print") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-width py-5 px-3 px-md-5">
    <div class="row m-0 align-items-end">
      <div class="col-12 col-lg-8">
        <div class="row mx-0 justify-content-center">
          <div class="col-12 p-0">
            <h1 class="mb-0 pl-2"><%= t("industry.cp_title") %></h1>
            <h1 class="mb-4 pl-2"><%= t("industry.cp_title_two") %></h1>
          </div>
          <div class="col-12 col-md-6 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
            <div class="bg-white border-radius px-3 py-2 h-100">
              <p class="bold mb-1"><%= t("industry.cp_card_title_one") %></p>
              <p class="mb-0"><%= t("industry.cp_card_text_one") %></p>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
            <div class="bg-white border-radius px-3 py-2 h-100">
              <p class="bold mb-1"><%= t("industry.cp_card_title_two") %></p>
              <p class="mb-0"><%= t("industry.cp_card_text_two") %></p>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
            <div class="bg-white border-radius px-3 py-2 h-100">
              <p class="bold mb-1"><%= t("industry.cp_card_title_three") %></p>
              <p class="mb-0"><%= t("industry.cp_card_text_three") %></p>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
            <div class="bg-white border-radius px-3 py-2 h-100">
              <p class="bold mb-1"><%= t("industry.cp_card_title_four") %></p>
              <p class="mb-0"><%= t("industry.cp_card_text_four") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-width px-3 px-md-5 pb-5">
    <div class="product-carousel software-carousel industry-carousel">
      <div id="cpCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-controls industry-controls">
          <div class="">
            <a class="carousel-control-prev" href="#cpCarousel" role="button" data-slide="prev">
              <i class="fas fa-angle-left"></i>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#cpCarousel" data-slide-to="0"></li>
              <li data-target="#cpCarousel" data-slide-to="1"></li>
              <li data-target="#cpCarousel" data-slide-to="2"></li>
              <li data-target="#cpCarousel" data-slide-to="3" class="active"></li>
              <li data-target="#cpCarousel" data-slide-to="4"></li>
              <li data-target="#cpCarousel" data-slide-to="5"></li>
              <li data-target="#cpCarousel" data-slide-to="6"></li>
            </ol>
            <a class="carousel-control-next" href="#cpCarousel" role="button" data-slide="next">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627509864/cpc5_yfesli.png", class: "first-section-image", alt: "bottle with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627509868/cpc6_de7vuc.png", class: "first-section-image", alt: "bottle with print two") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627509866/cpc7_orgsr9.png", class: "first-section-image", alt: "tub with print") %>
          </div>
          <div class="carousel-item active">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627509864/cpc1_a6mmp0.png", class: "first-section-image", alt: "small box with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627509864/cpc2_nfcfjq.png", class: "first-section-image", alt: "pump bottle with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627509864/cpc3_bfhkv1.png", class: "first-section-image", alt: "pump bottle with print two") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627509863/cpc4_xztqxz.png", class: "first-section-image", alt: "spray bottle with print") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-width py-5 px-3 px-md-5">
    <div class="row m-0 justify-content-center">
      <div class="col-12 p-0">
        <h1 class="mb-4 pl-2"><%= t("industry.ind_title") %></h1>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_one") %></p>
          <p class="mb-0"><%= t("industry.ind_card_text_one") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_two") %></p>
          <p class="mb-0"><%= t("industry.ind_card_text_two") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_three") %></p>
          <p class="mb-0"><%= t("industry.ind_card_text_three") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_four") %></p>
          <p class="mb-0"><%= t("industry.ind_card_text_four") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_five") %></p>
          <p class="mb-0"><%= t("industry.ind_card_text_five") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_six") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_seven") %></p>
          <p class="mb-0"><%= t("industry.ind_card_text_seven") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_eight") %></p>
          <p class="mb-0"><%= t("industry.ind_card_text_eight") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_nine") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_ten") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_eleven") %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
        <div class="bg-white border-radius px-3 py-2 h-100">
          <p class="bold mb-1"><%= t("industry.ind_card_title_twelve") %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="max-width px-3 px-md-5 pb-5 mb-5">
    <div class="product-carousel software-carousel industry-carousel">
      <div id="indCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-controls industry-controls">
          <div class="">
            <a class="carousel-control-prev" href="#indCarousel" role="button" data-slide="prev">
              <i class="fas fa-angle-left"></i>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#indCarousel" data-slide-to="0"></li>
              <li data-target="#indCarousel" data-slide-to="1"></li>
              <li data-target="#indCarousel" data-slide-to="2" class="active"></li>
              <li data-target="#indCarousel" data-slide-to="3"></li>
              <li data-target="#indCarousel" data-slide-to="4"></li>
              <li data-target="#indCarousel" data-slide-to="5"></li>

            </ol>
            <a class="carousel-control-next" href="#indCarousel" role="button" data-slide="next">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627510925/indc5_wthssa.png", class: "first-section-image pb-4", alt: "thin boxes with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627510923/indc6_t7p48n.png", class: "first-section-image pb-4", alt: "Salt bag with print") %>
          </div>
          <div class="carousel-item active">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627510923/ind1_fme4qe.png", class: "first-section-image pb-4", alt: "sealed ink cartridges") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627510923/indc2_uqgemv.png", class: "first-section-image pb-4", alt: "printed code") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627510924/ind3_e8f5yv.png", class: "first-section-image pb-4", alt: "cement bad with print") %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627510926/indc4_tpkfso.png", class: "first-section-image pb-4", alt: "cement block with print") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg py-5">
    <div class="max-width py-5 px-3 px-md-5">
      <div class="row m-0 justify-content-center">
        <div class="col-12 px-0 pt-5">
          <h1 class="mb-4 pl-2 text-white"><%= t("industry.tp_title") %></h1>
        </div>
        <%= render 'typical_applications' %>
      </div>
    </div>
  </div>

</div>



