<% content_for :meta_title, "#{t('seo.printers.title')}" %>
<% content_for :meta_description, "#{t('seo.printers.description')}" %>

<div class="py-5">
  <div class="max-width p-5">
    <h1 class="text-center mb-4"><%= t("printers.title") %></h1>
    <h5 class="medium mb-4 text-center px-3"><%= t("printers.text") %></h5>
  </div>

  <div class="pb-5">
    <div class="max-width px-3 px-md-5">
      <div class="row m-0">
        <div class="col-12 px-0">
          <div class="shared-tech charcoal-bg px-4 px-md-5 py-4 mb-4">
            <div class="d-flex align-items-center justify-content-start w-100 mb-4 mb-md-0 mt-3">
              <%= image_tag 'uk.png', class: 'home-uk mr-4' %>
              <h6 class="mb-0 text-white"><%= t("home.title_second_description") %></h6>
            </div>
            <div class="">
              <h1 class="text-white mb-0"><%= t("fxone_remote.shared_tech") %></h1>
              <p class="mb-0 text-white"><%= t("fxone_remote.shared_tech_text_one") %></p>
              <p class="mb-0 text-white"><%= t("fxone_remote.shared_tech_text_two") %></p>
              <p class="mb-0 text-white"><%= t("fxone_remote.shared_tech_text_three") %></p>
              <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626258473/fxor-1_b1dj2y.png", class: "shared-tech-image", alt: "shared technology") %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 pt-3 pl-0 pr-0 pr-lg-3 pb-3">
          <div class="charcoal-bg fxone-range">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626258476/fxor-2_f2sb74.png", class: "mb-5 fxone-range-img-one", alt: "FX ONE Standard") %>
            <h1 class="text-center text-white mb-0 mt-5"><%= t("fxone_remote.fx_one_standard") %></h1>
            <h4 class="text-center text-white mb-0"><%= t("fxone_remote.fx_one_standard_sub") %></h4>
            <h4 class="text-center text-white mb-4"><%= t("fxone_remote.fx_one_standard_sub_two") %></h4>
            <p class="text-center mb-0 light-grey"><%= t("fxone_remote.fx_one_standard_text") %></p>
            <p class="text-center mb-0 light-grey"><%= t("fxone_remote.fx_one_standard_text_two") %></p>
            <p class="text-center mb-4 light-grey"><%= t("fxone_remote.fx_one_standard_text_three") %></p>
            <%= link_to '#', class: 'link-orange' do %>
              <p class="text-orange bold"><%= t("fxone_remote.grid_link_six") %> <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-6 pt-5 pt-lg-3 pr-0 pl-0 pl-lg-3 pb-3">
          <div class="black-bg fxone-range">
            <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626369972/fxosfxr_msqbht.png", class: "mb-5 fxone-range-img-two", alt: "FX ONE Standard") %>
            <h1 class="text-center text-white mb-0 mt-5"><%= t("fxone_standard.fx_one_remote") %></h1>
            <h4 class="text-center text-white mb-0"><%= t("fxone_standard.fx_one_remote_sub") %></h4>
            <h4 class="text-center text-white mb-4"><%= t("fxone_standard.fx_one_remote_sub_two") %></h4>
            <p class="text-center mb-0 light-grey"><%= t("fxone_standard.fx_one_remote_text") %></p>
            <p class="text-center mb-0 light-grey"><%= t("fxone_standard.fx_one_remote_text_two") %></p>
            <p class="text-center mb-4 light-grey"><%= t("fxone_standard.fx_one_remote_text_three") %></p>
            <%= link_to '#', class: 'link-orange' do %>
              <p class="text-orange bold"><%= t("fxone_remote.grid_link_six") %> <i class="fas fa-arrow-right ml-2"></i></p>
            <% end %>
          </div>
        </div>
        <div class="col-12 px-0">
          <div class="bg-white fxone-range mt-4 px-0">
            <div class="row m-0 w-100">
              <div class="col-12 col-lg-6">
                <div class="d-flex justify-content-center align-items-center h-100 position-relative">
                  <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1626261126/fxor-3_xo5t1s.png", class: "fxone-range-img-one mb-5 mb-lg-0", alt: "FX ONE Plus") %>
                  <div class="printers-coming-soon px-2 py-1">
                    <p class="text-orange bold mb-0"><%= t("printers.coming_soon") %></p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <h1 class="text-center grey mb-0 mt-5"><%= t("fxone_remote.fx_one_plus") %></h1>
                  <h4 class="text-center grey  mb-0"><%= t("fxone_remote.fx_one_plus_sub") %></h4>
                  <h4 class="text-center grey  mb-4"><%= t("fxone_remote.fx_one_plus_sub_two") %></h4>
                  <p class="text-center grey mb-0"><%= t("fxone_remote.fx_one_plus_text") %></p>
                  <p class="text-center grey mb-0"><%= t("fxone_remote.fx_one_plus_text_two") %></p>
                  <p class="text-center grey mb-4"><%= t("fxone_remote.fx_one_plus_text_three") %></p>
                  <%= link_to '#', class: 'link-orange' do %>
                    <p class="text-orange bold"><%= t("fxone_remote.grid_link_six") %> <i class="fas fa-arrow-right ml-2"></i></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


