<% content_for :meta_title, "#{t('seo.support.title')}" %>
<% content_for :meta_description, "#{t('seo.support.description')}" %>
<% content_for :meta_keywords, "#{t('seo.support.keywords')}" %>


<div class="max-width px-3 px-md-5 py-5" style="overflow-x: unset;">
  <h1 class="text-center mb-4"><%= t("support.first_section_title") %></h1>
</div>
<div class="pb-5">
  <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627399564/suppwave_ccoiue.png", class: "w-100", alt: "wave animation") %>
</div>

<div class="max-width py-5 px-3 px-md-5">
  <div class="row m-0 justify-content-center">
    <div class="col-12 p-0">
      <h1 class="mb-4 pl-2"><%= t("support.sds_title") %></h1>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_one") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_one") %></p>
        <%= link_to '/fx8001-oil-black-Ink.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_two") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_two") %></p>
        <%= link_to '/fx8201-solvent-black-ink.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_three") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_three") %></p>
        <%= link_to '/cp111.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_four") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_four") %></p>
        <%= link_to '/fx8008-9-oil-based-cleaner.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_five") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_five") %></p>
        <%= link_to '/fx8208-9-solvent-based-cleaner.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_six") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_six") %></p>
        <%= link_to '/cp011.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_seven") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_seven") %></p>
        <%= link_to '/cm011.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_eight") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_eight") %></p>
        <%= link_to '/cm501.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.sds_card_title_nine") %></p>
        <p class="mb-0"><%= t("support.sds_card_text_nine") %></p>
        <%= link_to '/cm500.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsdl_enva0s.png", alt: "download icon") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center py-4">
    <%= link_to t("support.sds_button"), contact_path, class: "primary-button"  %>
    <p class="mb-0 mt-2 small-text" style="font-style: italic;"><%= t("support.sds_hint") %></p>
    <p class="mb-0 small-text" style="font-style: italic;"><%= t("support.sds_hint_two") %></p>
  </div>
</div>

<div class="max-width py-5 px-3 px-md-5">
  <div class="row m-0 justify-content-center">
    <div class="col-12 p-0">
      <h1 class="mb-4 pl-2"><%= t("support.manuals") %></h1>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.fxom_card_title_one") %></p>
        <p class="mb-0"><%= t("support.fxom_card_text_one") %></p>
        <%= link_to '/fxone-standard-user-manual-v1.02.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsshare_vlfnkv.png", alt: "Share icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.fxom_card_title_two") %></p>
        <p class="mb-0"><%= t("support.fxom_card_text_two") %></p>
        <%= link_to '/fxone-remote-user-manual-v1.02.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsshare_vlfnkv.png", alt: "Share icon") %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-sm-2 mt-sm-2 mb-3 mb-lg-1 px-2">
      <div class="bg-white border-radius pl-3 pr-5 py-2 h-100 position-relative">
        <p class="bold mb-1"><%= t("support.fxom_card_title_three") %></p>
        <p class="mb-0"><%= t("support.fxom_card_text_three") %></p>
        <%= link_to '/foenix-dll-manual.pdf', class: 'small-card-icon', target: '_blank' do %>
          <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627403098/sdsshare_vlfnkv.png", alt: "Share icon") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center py-4">
    <%= link_to t("support.tech_support"), contact_path, class: "primary-button"  %>
  </div>

</div>



