<% content_for :meta_title, "#{t('seo.video.title')}" %>
<% content_for :meta_description, "#{t('seo.video.description')}" %>

<div class="industry-wrapper">
  <div class="dark-bg py-5">
    <div class="max-width" style="overflow-x: unset;">
      <div class="row m-0 justify-content-center">
        <div class="col-12 col-md-11 col-lg-9 pt-5 mb-5">
          <div class="d-flex flex-column justify-content-center align-items-center py-5">

            <h1 class="text-center text-white mb-4"><%= t("video.first_section_title") %></h1>
            <p class="text-center text-white mb-0"><%= t("video.first_section_text") %></p>
            <p class="text-center text-white mb-4"><%= t("video.first_section_text_two") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="max-width pt-5 px-3 px-md-5">
      <div class="row m-0">
        <div class="col-12 col-lg-6 pt-3 pl-0 pr-0 pr-lg-4 pb-3 mb-5">
          <div class="position-relative border-radius d-flex justify-content-center align-items-center video-card" style="background-image: url('<%= cl_image_path "fsi-2_cflsou" %>');">
            <div class="videos-btn">
              <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
            </div>
          </div>
          <p class="mb-0 bold"><%= t("video.video_text_one") %></p>
          <p class="mb-0 bold"><%= t("video.video_text_one_cont") %></p>
        </div>
        <div class="col-12 col-lg-6 pt-3 pr-0 pl-0 pl-lg-4 pb-3 mb-5">
          <div class="position-relative border-radius d-flex justify-content-center align-items-center video-card" style="background-image: url('<%= cl_image_path "fsi-1_h95eg4" %>');">
            <div class="videos-btn">
              <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".sp-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
            </div>
          </div>
          <p class="mb-0 bold"><%= t("video.video_text_two") %></p>
          <p class="mb-0 bold"><%= t("video.video_text_two_cont") %></p>
        </div>
        <div class="col-12 px-0 mb-5">
          <div class="position-relative border-radius d-flex justify-content-center align-items-center video-card" style="background-image: url('<%= cl_image_path "fxosg-1_gnmcps" %>');">
            <div class="videos-btn">
              <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".medz-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
            </div>
          </div>
          <p class="text-center mb-0 bold"><%= t("video.video_text_three") %></p>
        </div>
        <div class="col-12 col-lg-6 pt-3 pl-0 pr-0 pr-lg-4 pb-3 mb-5">
          <div class="position-relative border-radius d-flex justify-content-center align-items-center video-card" style="background-image: url('<%= cl_image_path "fxosbtl_iuhhp1" %>');">
            <div class="videos-btn">
              <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".spg-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
            </div>
          </div>
          <p class="mb-0 bold"><%= t("video.video_text_four") %></p>
        </div>
        <div class="col-12 col-lg-6 pt-3 pr-0 pl-0 pl-lg-4 pb-3 mb-5">
          <div class="position-relative border-radius d-flex justify-content-center align-items-center video-card" style="background-image: url('<%= cl_image_path "fxosg-2_cssapd" %>');">
            <div class="videos-btn">
              <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".qwa-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
            </div>
          </div>
          <p class="mb-0 bold"><%= t("video.video_text_five") %></p>
        </div>
        <div class="col-12 px-0 mb-5">
          <div class="position-relative border-radius d-flex justify-content-center align-items-center video-card bp168" style="background-image: url('<%= cl_image_path "vdsbs2_ktgkcj" %>');">
            <div class="videos-btn">
              <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".stdsk-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
            </div>
          </div>
          <p class="text-center mb-0 bold"><%= t("video.video_text_six") %></p>
        </div>
        <div class="col-12 col-lg-6 pt-3 pl-0 pr-0 pr-lg-4 pb-3 mb-5">
          <div class="position-relative border-radius d-flex justify-content-center align-items-center video-card" style="background-image: url('<%= cl_image_path "esi-2_pvrksv" %>');">
            <div class="videos-btn">
              <p class="btn primary-button button-width bold text-white mb-0" data-toggle="modal" data-target=".tusw-example-modal-lg"><i class="fas fa-play mr-2"></i><%= t("home.play") %></p>
            </div>
          </div>
          <p class="mb-0 bold"><%= t("video.video_text_seven") %></p>
        </div>
        <div class="col-12 col-lg-6 pt-3 pr-0 pl-0 pl-lg-4 pb-3 mb-5">
          <div class="position-relative border-radius d-flex justify-content-center align-items-center video-card bg-white">
            <div class="videos-btn">
              <p class="bold text-orange mb-0"><%= t("video.more_videos") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont" id="modal-cont">
      <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/oMW-QEs1zmc?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="modal" class="modal fade medz-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont" id="modal-cont">
      <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/MedZnmRlVlI?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="modal" class="modal fade sp-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont" id="modal-cont">
      <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/RZXBR961iv4?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="modal" class="modal fade spg-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont" id="modal-cont">
      <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/mIfS14oVn-k?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="modal" class="modal fade qwa-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont" id="modal-cont">
      <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/UQbACO9rjVM?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="modal" class="modal fade stdsk-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont" id="modal-cont">
      <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/Z7VBnfVzQuE?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="modal" class="modal fade tusw-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont" id="modal-cont">
      <iframe class="embed-player" src="https://www.youtube-nocookie.com/embed/TUSWnhPkNFY?controls=0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

