<% content_for :meta_title, "#{t('seo.posts.title')}" %>
<% content_for :meta_description, "#{t('seo.posts.description')}" %>

<div class="posts">
  <div class="max-width py-5 px-3 px-md-5">
    <% if @featured %>
      <div class="featured-post">
        <h1 class="mb-0">Featured</h1>
        <div class="pb-5 pt-3 mb-5">
          <%= link_to post_path(@featured) do %>
            <div class="featured-post-div">
              <div class="featured-post-div-text">
                <h2><%= @featured.title %></h2>
                <%= simple_format(@featured.text.truncate(120)) %>
              </div>
              <% if @featured.image.present? %>
                  <%= cl_image_tag @featured.image, class: 'featured-post-image' %>
              <% else %>
                <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627407574/placeholder_y7ohki.png", class: "featured-post-image", alt: "Product coding") %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="all-news">
      <h1><%= t("news.news") %></h1>
      <div class="row ml-lg-5 mr-0 justify-content-between">
        <% @posts.last(6).each do |post| %>
          <div class="col-12 col-md-6 col-lg-5">
            <%= link_to post_path(post), class: 'no-decoration' do %>
              <div class="new-post-card">
                <div class="new-post-card-content">
                  <h6><%= post.title.truncate(65) %></h6>
                  <div class="new-post-card-text"><%= simple_format(post.text.truncate(100)) %></div>
                  <div class="post-card-text-details">
                    <p class="font-12"><%= post.created_at.strftime("%b %y") %></p>
                    <pre class="m-0" style="padding-top: 2px;"> • </pre>
                    <p class="font-12"><%= post.reading_time %> min read</p>
                  </div>
                </div>
                <% if post.image.present? %>
                  <%= cl_image_tag post.image, class: 'new-post-card-image' %>
                <% else %>
                  <%= cl_image_tag("https://res.cloudinary.com/foenix-coding/image/upload/v1627407574/placeholder_y7ohki.png", class: "new-post-card-image", alt: "Product coding") %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/newsletter' %>
